magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/AdviesVraag/GEB_VRAGEN_EXTERN_ADVIES_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_VRAGEN_EXTERN_ADVIES_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_VRAGEN_EXTERN_ADVIES_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="GebeurtenisDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:GebeurtenisDatablok">
			<xs:sequence>
	<xs:element name="AdviesvraagTermijn" default="30">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:integer">
		<xs:attribute name="eenheid" fixed="dag">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>