magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Plan/Plan-02.00/PlanEnum.xsd

<xsd:schema xmlns:plan="urn:be:vlaanderen:omgeving:plan:v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:be:vlaanderen:omgeving:plan:v2" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="01.00">
    <xsd:simpleType name="PlanElementTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="GV">
                <xsd:annotation>
                    <xsd:documentation>Grondvlak</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OV">
                <xsd:annotation>
                    <xsd:documentation>Overdruk</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OVIA">
                <xsd:annotation>
                    <xsd:documentation>Overdruk - indicatieve aanduiding</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LN">
                <xsd:annotation>
                    <xsd:documentation>Lijn</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LNIA">
                <xsd:annotation>
                    <xsd:documentation>Lijn - indicatieve aanduiding</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PT">
                <xsd:annotation>
                    <xsd:documentation>Punt</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PTIA">
                <xsd:annotation>
                    <xsd:documentation>Punt - indicatieve aanduiding</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PlanAfgeleideTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PBT">
                <xsd:annotation>
                    <xsd:documentation>Planbaten</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PSC">
                <xsd:annotation>
                    <xsd:documentation>Planschade</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="KGS">
                <xsd:annotation>
                    <xsd:documentation>Kapitaalschade / gebruikersschade</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="RVV">
                <xsd:annotation>
                    <xsd:documentation>Recht van voorkoop</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CategorieEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="WON">
                <xsd:annotation>
                    <xsd:documentation>Wonen (cfr. Codex RO art. 2.2.3.§1, 1°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="BED">
                <xsd:annotation>
                    <xsd:documentation>Bedrijvigheid (cfr. Codex RO art. 2.2.3.§1, 2°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="REC">
                <xsd:annotation>
                    <xsd:documentation>Recreatie (cfr. Codex RO art. 2.2.3.§1, 3°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LDB">
                <xsd:annotation>
                    <xsd:documentation>Landbouw (cfr. Codex RO art. 2.2.3.§1, 4°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="BOS">
                <xsd:annotation>
                    <xsd:documentation>Bos (cfr. Codex RO art. 2.2.3.§1, 5°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OVG">
                <xsd:annotation>
                    <xsd:documentation>Overig groen (cfr. Codex RO art. 2.2.3.§1, 6°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NAT">
                <xsd:annotation>
                    <xsd:documentation>NAT	Reservaat en natuur (cfr. Codex RO art. 2.2.3.§1, 7°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LNI">
                <xsd:annotation>
                    <xsd:documentation>Lijninfrastructuur (cfr. Codex RO art. 2.2.3.§1, 8°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="GNV">
                <xsd:annotation>
                    <xsd:documentation>Gemeenschaps- en nutsvoorzieningen (cfr. Codex RO art. 2.2.3.§1, 9°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="OWA">
                <xsd:annotation>
                    <xsd:documentation>Ontginning en waterwinning (cfr. Codex RO art. 2.2.3.§1, 10°)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SubcategorieEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="WOO">
                <xsd:annotation>
                    <xsd:documentation>Woongebied (cfr. Codex RO art. 2.2.3.§1, 1°, a)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WEL">
                <xsd:annotation>
                    <xsd:documentation>Gebied voor wonen en voor landbouw (cfr. Codex RO art. 2.2.3.§1, 1°, b)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="AGG">
                <xsd:annotation>
                    <xsd:documentation>Agrarisch gebied (cfr. Codex RO art. 2.2.3.§1, 4°, a)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ABG">
                <xsd:annotation>
                    <xsd:documentation>Agrarische bedrijvenzone (cfr. Codex RO art. 2.2.3.§1, 4°, b)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="BAG">
                <xsd:annotation>
                    <xsd:documentation>Bouwvrij agrarisch gebied (cfr. Codex RO art. 2.2.3.§1, 4°, c)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="GOG">
                <xsd:annotation>
                    <xsd:documentation>Gemengd openruimtegebied (cfr. Codex RO art. 2.2.3.§1, 6°, a)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PAG">
                <xsd:annotation>
                    <xsd:documentation>Parkgebied (cfr. Codex RO art. 2.2.3.§1, 6°, b)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="IDW">
                <xsd:annotation>
                    <xsd:documentation>Gebied voor infrastructuur voor duurzame watervoorziening (cfr. Codex RO art. 2.2.3.§1, 10°, a)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ONT">
                <xsd:annotation>
                    <xsd:documentation>Gebied voor de winning van oppervlaktedelfstoffen (cfr. Codex RO art. 2.2.3.§1, 10°, c)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>