magdamock-spring/src/main/resources/magda.xsd/Gezin.PubliceerAttestKindTenLasteDienst-03.00/Service/PubliceerAttestKindTenLaste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by Stefan Vleugels (AGENTSCHAP FACILITAIR BEDRIJF) -->
<xsd:schema xmlns="http://magda.vlaanderen.be/gezin/file/publiceerattestkindtenlaste/v03_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:gezin="http://magda.vlaanderen.be/gezin-v3" targetNamespace="http://magda.vlaanderen.be/gezin/file/publiceerattestkindtenlaste/v03_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/gezin-v3" schemaLocation="../../Gezin/GezinDomein-v3.xsd"/>
	<xsd:element name="PubliceerAttestKindTenLaste">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Publicatie" type="PublicatieType" minOccurs="0"/>
				<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PublicatieType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpenType">
		<xsd:sequence>
			<xsd:element name="Onderwerp" type="OnderwerpType" maxOccurs="1000000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpInhoudType">
		<xsd:sequence>
			<xsd:element name="Metadata" type="generiek:MetadataType" minOccurs="0"/>
			<xsd:element name="AttestKindTenLaste" type="gezin:AttestKindTenLasteType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
