magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/OpenbaarOnderzoek-02.00/GEB_START_BEPERKT_OPENBAAR_ONDERZOEK_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_START_BEPERKT_OPENBAAR_ONDERZOEK_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_START_BEPERKT_OPENBAAR_ONDERZOEK_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="GebeurtenisDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:GebeurtenisDatablok">
			<xs:sequence>
	<xs:element name="Startdatum">
	<xs:simpleType>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="Duur" minOccurs="0" default="30">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.Duur">
		<xs:attribute name="eenheid" fixed="dag">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="DuurModus">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="STANDAARD"/>
			<xs:enumeration value="ANDERETERMIJN"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="DatumUitersteBeslissing" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.Duur">
		<xs:restriction base="xs:integer">
			<xs:minExclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>