magdamock-spring/src/main/resources/magda.xsd/Werk.PubliceerVerrichtingDienst-01.00/Service/PubliceerVerrichting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://magda.vlaanderen.be/werk/file/publiceerverrichting/v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:werk="http://magda.vlaanderen.be/werk-v3" targetNamespace="http://magda.vlaanderen.be/werk/file/publiceerverrichting/v01_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/werk-v3" schemaLocation="../../Werk/WerkDomein-v3.xsd"/>
	<xsd:element name="PubliceerVerrichting">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Publicatie" type="PublicatieType" minOccurs="0"/>
				<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PublicatieType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fouten die voorkomen na de verwerking van de Context maar voor de verwerking van Vraag, Antwoord of Onderwerp bv: XSD Validatie fouten</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpenType">
		<xsd:sequence>
			<xsd:element name="Onderwerp" type="OnderwerpType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fouten die voorkomen na de verwerking van Vraag, Antwoord of Onderwerp bv: warnings rond ontbrekende data en fouten gelinked aan 1 antwoord</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpInhoudType">
		<xsd:sequence>
			<xsd:element name="Verrichting" type="werk:VerrichtingType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
