magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Vergunning/Verkaveling-02.00/VerkavelingComplex.xsd

<xsd:schema targetNamespace="urn:be:vlaanderen:omgeving:vergunning:verkaveling:v2" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="01.00" xmlns:verkaveling="urn:be:vlaanderen:omgeving:vergunning:verkaveling:v2" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   
    <xsd:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xsd:include schemaLocation="VerkavelingEnum.xsd"/>
    <xsd:include schemaLocation="VerkavelingSimple.xsd"/>
    <xsd:complexType name="VergunningWrapper">
        <xsd:complexContent>
            <xsd:extension base="dossier:DossierInhoud">
                <xsd:sequence>


                    <xsd:element name="vergunning" type="verkaveling:Vergunning">
                        <xsd:key name="VoorwerpId">
                            <xsd:selector xpath="Situaties/Situatie/Voorwerpen/*"/>
                            <xsd:field xpath="@id"/>
                        </xsd:key>
                        <xsd:keyref name="VoorwerpRef" refer="verkaveling:VoorwerpId">
                            <xsd:selector xpath="Projecten/Project/Handelingen/*/Voor|Projecten/Project/Handelingen/*/Na"/>
                            <xsd:field xpath="@idref"/>
                        </xsd:keyref>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Vergunning">

        <xsd:sequence>
            <xsd:element name="situatie" type="verkaveling:Situatie" maxOccurs="unbounded"/>
            <xsd:element name="project" type="verkaveling:Project" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="Situatie">
        <xsd:complexContent>
            <xsd:extension base="dossier:Situatie">
                <xsd:sequence>
                    <xsd:element name="voorwerp" type="verkaveling:Voorwerp" maxOccurs="unbounded"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Voorwerp" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="dossier:Voorwerp">
                <xsd:sequence/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Perceel">
        <xsd:complexContent>
            <xsd:extension base="verkaveling:Voorwerp">
                <xsd:sequence>
                    <xsd:element name="kavelNummer" type="xsd:integer" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Handeling">
        <xsd:complexContent>
            <xsd:extension base="dossier:Handeling"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Project">
        <xsd:complexContent>
            <xsd:extension base="dossier:Project">
                <xsd:sequence>
                    <xsd:element name="handeling" type="verkaveling:Handeling" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>