magdamock-spring/src/main/resources/magda.xsd/Onderneming.PubliceerRSZDagvaardingDienst-02.00/Service/PubliceerRSZDagvaarding.xsd

<xsd:schema targetNamespace="http://service.publiceerrszdagvaardingdienst-02_00.onderneming-02_00.vip.vlaanderen.be"
            xmlns="http://service.publiceerrszdagvaardingdienst-02_00.onderneming-02_00.vip.vlaanderen.be"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified"
            version="2.00.201303281145"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be"
            xmlns:onderneming="http://onderneming-02_00.vip.vlaanderen.be">

	<xsd:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xsd:import namespace="http://onderneming-02_00.vip.vlaanderen.be" schemaLocation="../../Onderneming-02.00/Onderneming.xsd"/>

	<xsd:element name="PubliceerOndernemingSignalen">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Publicatie" type="PublicatieType" minOccurs="0"/>
				<xsd:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PublicatieType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fouten die voorkomen na de verwerking van de Context maar voor de verwerking van Vraag, Antwoord of Onderwerp bv: XSD Validatie fouten</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpenType">
		<xsd:sequence>
			<xsd:element name="Onderwerp" type="OnderwerpType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fouten die voorkomen na de verwerking van Vraag, Antwoord of Onderwerp bv: warnings rond ontbrekende data en fouten gelinked aan 1 antwoord</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpInhoudType">
		<xsd:sequence>
			<xsd:element name="Metadata" type="generiek:MetadataType" minOccurs="0"/>
			<xsd:element name="OndernemingSignalen" type="onderneming:OndernemingSignalenType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
