magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/N_DIENSTEN_LUCHTHAVENGEBOUW_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:N_DIENSTEN_LUCHTHAVENGEBOUW_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:N_DIENSTEN_LUCHTHAVENGEBOUW_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="NuttigeOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="GateAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsBagageAfhaalpunt" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BagageAfhaalpuntOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.BagageAfhaalpuntOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsCafeResto" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="CafeRestoOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.CafeRestoOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKantoorBalie" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KantoorBalieOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KantoorBalieOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWachtzaal" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WachtzaalOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WachtzaalOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWinkel" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WinkelOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WinkelOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpslag" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpslagOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpslagOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTechnisch" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TechnischOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TechnischOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWerkplaats" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WerkplaatsOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WerkplaatsOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereFunctie" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctie" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="AndereFunctieType">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctieOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.BagageAfhaalpuntOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.CafeRestoOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KantoorBalieOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WachtzaalOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WinkelOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OpslagOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TechnischOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WerkplaatsOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>