magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/N_RECLAME_COM_DRAGER_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:N_RECLAME_COM_DRAGER_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:N_RECLAME_COM_DRAGER_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="PeriodeDuur">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="maand">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ReclameOppervlakteVast">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ReclameOppervlakteVast">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ReclameOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ReclameOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="Plaatsing">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GEVEL"/>
			<xs:enumeration value="WERF"/>
			<xs:enumeration value="TERREINAFSLUITING"/>
			<xs:enumeration value="VRIJSTAAND"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="GevelType" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="VRIJSTAAND"/>
			<xs:enumeration value="VOOR"/>
			<xs:enumeration value="WACHT"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WerfType" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="PRIVAAT_DOMEIN"/>
			<xs:enumeration value="OPENBAAR_DOMEIN"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsOpvoet">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsVerlicht">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BewegingType">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VAST"/>
			<xs:enumeration value="ROTEREND"/>
			<xs:enumeration value="TRIVISION"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.ReclameOppervlakteVast">
		<xs:restriction base="xs:string">
			<xs:enumeration value="4"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ReclameOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>