magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/N_SECCONSTR_ZONNEPANEEL_OPGEBOUW_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:N_SECCONSTR_ZONNEPANEEL_OPGEBOUW_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:N_SECCONSTR_ZONNEPANEEL_OPGEBOUW_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="Ligging" minOccurs="0" maxOccurs="1">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="PerceelsgrensLinksAfstand">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="PerceelsgrensRechtsAfstand">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="Kenmerken" minOccurs="0" maxOccurs="1">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="DakType">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PLAT"/>
			<xs:enumeration value="HELLEND"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PlatDakUitsteekBovenDakrand" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PlatDakZonnepaneelOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.Kenmerken.PlatDakZonnepaneelOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="HellendDakGeintegreerd" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="HellendDakZonnepaneelOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.Kenmerken.HellendDakZonnepaneelOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.Kenmerken.PlatDakZonnepaneelOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.Kenmerken.HellendDakZonnepaneelOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>