magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_CONSTR_PARKING_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_CONSTR_PARKING_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_CONSTR_PARKING_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="IsParkingBinnen_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkingBinnen_asis" minOccurs="0" maxOccurs="1">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="BinnenAutoAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BinnenAutoAndersvalideAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BinnenFietsAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkingBuiten_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkingBuiten_asis" minOccurs="0" maxOccurs="1">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="BuitenAutoAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BuitenAutoAndersvalideAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BuitenFietsAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsLaadLosZone_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsParkingBinnen">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkingBinnen" minOccurs="0" maxOccurs="1">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="BinnenAutoAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BinnenAutoAndersvalideAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BinnenFietsAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkingBuiten">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkingBuiten" minOccurs="0" maxOccurs="1">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="BuitenAutoAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BuitenAutoAndersvalideAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BuitenFietsAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsLaadLosZone">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>