magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_HANDEL_BEB_HOTEL_MOTEL_EEN_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_HANDEL_BEB_HOTEL_MOTEL_EEN_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_HANDEL_BEB_HOTEL_MOTEL_EEN_001:001" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="NuttigeOppervlakte_asis">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="PersoonAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KamerAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KamerAndersvalideAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsOntvangst_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OntvangstOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OntvangstOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsCafeResto_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="CafeRestoOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.CafeRestoOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKeuken_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KeukenOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KeukenOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPolyvalenteRuimte_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PolyvalenteRuimteOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PolyvalenteRuimteOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsFitnessWellness_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="FitnessWellnessOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.FitnessWellnessOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKantoor_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KantoorOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KantoorOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsZwembad_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ZwembadOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ZwembadOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTechnisch_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TechnischOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TechnischOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPersoneel_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PersoneelOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PersoneelOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpslagArchief_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpslagArchiefOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpslagArchiefOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereFunctie_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctie_asis" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="AndereFunctieType_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctieOppervlakte_asis">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="NuttigeOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="PersoonAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KamerAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KamerAndersvalideAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsOntvangst" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OntvangstOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OntvangstOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsCafeResto" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="CafeRestoOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.CafeRestoOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKeuken" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KeukenOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KeukenOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPolyvalenteRuimte" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PolyvalenteRuimteOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PolyvalenteRuimteOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsFitnessWellness" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="FitnessWellnessOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.FitnessWellnessOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKantoor" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KantoorOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KantoorOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsZwembad" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ZwembadOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ZwembadOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTechnisch" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TechnischOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TechnischOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPersoneel" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PersoneelOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PersoneelOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpslagArchief" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpslagArchiefOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpslagArchiefOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereFunctie" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctie" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="AndereFunctieType">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctieOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.OntvangstOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.CafeRestoOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KeukenOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PolyvalenteRuimteOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.FitnessWellnessOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KantoorOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ZwembadOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TechnischOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PersoneelOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OpslagArchiefOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OntvangstOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.CafeRestoOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KeukenOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PolyvalenteRuimteOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.FitnessWellnessOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KantoorOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ZwembadOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TechnischOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PersoneelOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OpslagArchiefOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>