magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_INFRA_ENERGIETRANSPORT_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_ENERGIETRANSPORT_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_ENERGIETRANSPORT_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="LeidingType">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GAS"/>
			<xs:enumeration value="AARDOLIE"/>
			<xs:enumeration value="ELEKTRICITEIT"/>
			<xs:enumeration value="CHEMIE"/>
			<xs:enumeration value="TELECOM"/>
			<xs:enumeration value="STOOM"/>
			<xs:enumeration value="WARM_WATER"/>
			<xs:enumeration value="ANDER"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="LeidingTypeAnder" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="LeidingLengte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>