magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_INFRA_WEG_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_WEG_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_WEG_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="IsVoertuigvak" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VoertuigvakAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VoertuigvakLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.VoertuigvakLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="VoertuigvakBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.VoertuigvakBreedte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsVoetgangervak" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VoetgangervakAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VoetgangervakLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.VoetgangervakLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="VoetgangervakBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.VoetgangervakBreedte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsFietservak" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="FietservakAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="FietservakLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.FietservakLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="FietservakBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.FietservakBreedte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTramMetro" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsTramMetroRijweg" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TramMetroRijwegAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TramMetroRijwegLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TramMetroRijwegLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="TramMetroRijwegTussenafstand" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TramMetroRijwegTussenafstand">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTramMetroApart" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TramMetroApartAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TramMetroApartLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TramMetroApartLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="TramMetroApartBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TramMetroApartBreedte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTreinspoor" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TreinspoorAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TreinspoorLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TreinspoorLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="TreinspoorBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TreinspoorBreedte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsMiddenberm">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="MiddenbermLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.MiddenbermLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="MiddenbermBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.MiddenbermBreedte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsVerlicht">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsParkeerplaatsParallel" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsParallelAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsParkeerplaatsDwars" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsDwarsAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsParkeerplaatsMiddenberm" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsMiddenbermAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.VoertuigvakLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.VoertuigvakBreedte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.VoetgangervakLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.VoetgangervakBreedte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.FietservakLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.FietservakBreedte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TramMetroRijwegLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TramMetroRijwegTussenafstand">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TramMetroApartLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TramMetroApartBreedte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TreinspoorLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TreinspoorBreedte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.MiddenbermLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.MiddenbermBreedte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>