magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_INFRA_RIOOL_ZUIVERING_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_RIOOL_ZUIVERING_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_RIOOL_ZUIVERING_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="IsRiool" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="RioolLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.RioolLengte">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsCollector" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="CollectorOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.CollectorOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsRioolwaterZuivering" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="RioolwaterZuiveringOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.RioolwaterZuiveringOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.RioolLengte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.CollectorOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.RioolwaterZuiveringOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>