magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_INDUS_CONCIERGE_VRIJST_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_INDUS_CONCIERGE_VRIJST_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_INDUS_CONCIERGE_VRIJST_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="NuttigeOppervlakte_asis">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="SlaapkamerAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VerwarmingType_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AARDGAS"/>
			<xs:enumeration value="BUTAAN_PROPAAN"/>
			<xs:enumeration value="STOOKOLIE"/>
			<xs:enumeration value="ELEKTRICITEIT"/>
			<xs:enumeration value="ZON"/>
			<xs:enumeration value="STEENKOOL"/>
			<xs:enumeration value="HOUT"/>
			<xs:enumeration value="WARMTEPOMP"/>
			<xs:enumeration value="ANDER"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="NuttigeOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="SlaapkamerAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VerwarmingType">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AARDGAS"/>
			<xs:enumeration value="BUTAAN_PROPAAN"/>
			<xs:enumeration value="STOOKOLIE"/>
			<xs:enumeration value="ELEKTRICITEIT"/>
			<xs:enumeration value="ZON"/>
			<xs:enumeration value="STEENKOOL"/>
			<xs:enumeration value="HOUT"/>
			<xs:enumeration value="WARMTEPOMP"/>
			<xs:enumeration value="ANDER"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>