magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_INFRA_VERHARDING_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_VERHARDING_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_INFRA_VERHARDING_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="VerhardingOppervlakte_asis">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpenPlein_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpenPleinAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpenPleinOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpenPleinOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkeerplaatsAuto_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAutoAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAutoOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ParkeerplaatsAutoOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkeerplaatsAndersvalide_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAndersvalideAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAndersvalideOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ParkeerplaatsAndersvalideOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkeerplaatsFiets_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsFietsAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsFietsOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ParkeerplaatsFietsOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsSportterrein_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SportterreinAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SportterreinOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.SportterreinOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsSpeelterrein_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SpeelterreinAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SpeelterreinOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.SpeelterreinOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereVerharding_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereVerhardingType_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereVerhardingAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereVerhardingOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.AndereVerhardingOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="VerhardingOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpenPlein" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpenPleinAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpenPleinOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpenPleinOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkeerplaatsAuto" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAutoAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAutoOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ParkeerplaatsAutoOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkeerplaatsAndersvalide" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAndersvalideAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsAndersvalideOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ParkeerplaatsAndersvalideOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsParkeerplaatsFiets" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsFietsAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ParkeerplaatsFietsOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.ParkeerplaatsFietsOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsSportterrein" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SportterreinAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SportterreinOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.SportterreinOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsSpeelterrein" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SpeelterreinAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SpeelterreinOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.SpeelterreinOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereVerharding" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereVerhardingType" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereVerhardingAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereVerhardingOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.AndereVerhardingOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.OpenPleinOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ParkeerplaatsAutoOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ParkeerplaatsAndersvalideOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ParkeerplaatsFietsOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.SportterreinOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.SpeelterreinOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.AndereVerhardingOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OpenPleinOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ParkeerplaatsAutoOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ParkeerplaatsAndersvalideOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.ParkeerplaatsFietsOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.SportterreinOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.SpeelterreinOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.AndereVerhardingOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>