magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.0/V_RECR_DAG_ZWEMBAD_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_RECR_DAG_ZWEMBAD_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_RECR_DAG_ZWEMBAD_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="SituatieDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:SituatieDatablok">
			<xs:sequence>
	<xs:element name="ZwembadType_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OVERDEKT"/>
			<xs:enumeration value="OPEN"/>
			<xs:enumeration value="BEIDE"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ZwembadAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ZwembadRechthoek_asis" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="ZwembadRechthoekLengte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadRechthoekBreedte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadRechthoekMiniDiepte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadRechthoekMaxiDiepte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadVrijevorm_asis" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="ZwembadVrijevormMiniDiepte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadVrijevormMaxiDiepte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="TribuneOppervlakte_asis">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="TribuneZitplaatsAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TribuneStaanplaatsAantal_asis">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsKleedruimteIndiv_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteIndivAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteIndivOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KleedruimteIndivOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKleedruimteGroep_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteGroepAantal_asis" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteGroepOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KleedruimteGroepOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsVestiaire_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VestiaireOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.VestiaireOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsCafeResto_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="CafeRestoOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.CafeRestoOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPolyvalenteRuimte_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PolyvalenteRuimteOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PolyvalenteRuimteOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsSolarium_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SolariumOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.SolariumOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsBureelKassa_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BureelKassaOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.BureelKassaOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWinkel_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WinkelOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WinkelOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTechnisch_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TechnischOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TechnischOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPersoneel_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PersoneelOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PersoneelOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWerkplaats_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WerkplaatsOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WerkplaatsOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpslagArchief_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpslagArchiefOppervlakte_asis" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpslagArchiefOppervlakte_asis">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereFunctie_asis" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctie_asis" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="AndereFunctieType_asis">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctieOppervlakte_asis">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadType">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OVERDEKT"/>
			<xs:enumeration value="OPENLUCHT"/>
			<xs:enumeration value="BEIDE"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ZwembadAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="ZwembadRechthoek" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="ZwembadRechthoekLengte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadRechthoekBreedte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadRechthoekMiniDiepte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadRechthoekMaxiDiepte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadVrijevorm" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="ZwembadVrijevormMiniDiepte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="ZwembadVrijevormMaxiDiepte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
	<xs:element name="TribuneOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="TribuneZitplaatsAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TribuneStaanplaatsAantal">
	<xs:simpleType>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsKleedruimteIndiv" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteIndivAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteIndivOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KleedruimteIndivOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsKleedruimteGroep" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteGroepAantal" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="KleedruimteGroepOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.KleedruimteGroepOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsVestiaire" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VestiaireOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.VestiaireOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsCafeResto" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="CafeRestoOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.CafeRestoOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPolyvalenteRuimte" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PolyvalenteRuimteOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PolyvalenteRuimteOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsSolarium" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="SolariumOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.SolariumOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsBureelKassa" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="BureelKassaOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.BureelKassaOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWinkel" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WinkelOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WinkelOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsTechnisch" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="TechnischOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.TechnischOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsPersoneel" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PersoneelOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.PersoneelOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsWerkplaats" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="WerkplaatsOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.WerkplaatsOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsOpslagArchief" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="OpslagArchiefOppervlakte" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.OpslagArchiefOppervlakte">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="IsAndereFunctie" minOccurs="0">
	<xs:simpleType>
		<xs:list>
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctie" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
			<xs:sequence>
	<xs:element name="AndereFunctieType">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	</xs:element>
	<xs:element name="AndereFunctieOppervlakte">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
		<xs:attribute name="eenheid" fixed="m²">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.KleedruimteIndivOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KleedruimteGroepOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.VestiaireOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.CafeRestoOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PolyvalenteRuimteOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.SolariumOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.BureelKassaOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WinkelOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TechnischOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PersoneelOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WerkplaatsOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OpslagArchiefOppervlakte_asis">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KleedruimteIndivOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.KleedruimteGroepOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.VestiaireOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.CafeRestoOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PolyvalenteRuimteOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.SolariumOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.BureelKassaOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WinkelOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.TechnischOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.PersoneelOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.WerkplaatsOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type.OpslagArchiefOppervlakte">
		<xs:restriction base="xs:decimal">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>