magdamock-spring/src/main/resources/magda.xsd/Gezin.PubliceerMutatieZorgtoeslagDienst-02.00/Service/PubliceerMutatieZorgtoeslag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 	xmlns="http://service.publiceermutatiezorgtoeslagdienst-02_00.gezin-02_00.vip.vlaanderen.be"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be"
			xmlns:gezin="http://gezin-02_00.vip.vlaanderen.be"
			xmlns:soczek="http://soczek-02_00.vip.vlaanderen.be"
			targetNamespace="http://service.publiceermutatiezorgtoeslagdienst-02_00.gezin-02_00.vip.vlaanderen.be"
			elementFormDefault="unqualified"
			attributeFormDefault="unqualified"
			version="2.00">

	<xsd:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xsd:import namespace="http://gezin-02_00.vip.vlaanderen.be" schemaLocation="../../Gezin-02.00/Gezin.xsd"/>
	<xsd:import namespace="http://soczek-02_00.vip.vlaanderen.be" schemaLocation="../../SocZek-02.00/SocZek.xsd"/>
	<xsd:element name="PubliceerMutatieZorgtoeslag">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Publicatie" type="PublicatieType" minOccurs="0"/>
				<xsd:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PublicatieType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpenType">
		<xsd:sequence>
			<xsd:element name="Onderwerp" type="OnderwerpType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpInhoudType">
		<xsd:sequence>
			<xsd:element name="IdentificatieBericht" type="generiek:VoorleggingsPrefixType" minOccurs="0"/>
			<xsd:element name="Zorgtoeslag" type="soczek:MutatieHandicapType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
