magdamock-spring/src/main/resources/magda.xsd/Gezin.GeefKindVoordelenDienst-02.01/WebService/GeefKindVoordelen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://magda.vlaanderen.be/gezin/soap/geefkindvoordelen/v02_01" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:gezin="http://magda.vlaanderen.be/gezin-v3" targetNamespace="http://magda.vlaanderen.be/gezin/soap/geefkindvoordelen/v02_01" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/gezin-v3" schemaLocation="../../Gezin/GezinDomein-v3.xsd"/>
	<xsd:element name="GeefKindVoordelen">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Verzoek" type="VerzoekType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VerzoekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Vragen" type="VragenType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VragenType">
		<xsd:sequence>
			<xsd:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="VraagInhoudType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagInhoudType">
		<xsd:sequence>
			<xsd:element name="Criteria" type="gezin:GeefKindVoordelenCriteriaType"/>
			<xsd:element name="Taal" type="generiek:TaalCodeType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
