magdamock-spring/src/main/resources/magda.xsd/Kadaster.GeefCadNetTransactiesDienst-01.00/Service/GeefCadNetTransactiesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://magda.vlaanderen.be/kadaster/file/geefcadnettransacties/v01_00" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" 
	xmlns:kadaster="http://magda.vlaanderen.be/kadaster-v3" 
	targetNamespace="http://magda.vlaanderen.be/kadaster/file/geefcadnettransacties/v01_00" 
	elementFormDefault="unqualified" 
	attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/kadaster-v3" schemaLocation="../../Kadaster/KadasterDomein-v3.xsd"/>
	<xsd:element name="GeefCadNetTransactiesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Repliek" type="RepliekType" minOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RepliekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Antwoorden" type="AntwoordenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordenType">
		<xsd:sequence>
			<xsd:element name="Antwoord" type="AntwoordType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="AntwoordInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordInhoudType">
		<xsd:sequence>
			<xsd:element name="Transactie" type="kadaster:CadNetTransactieResponseType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
