magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/NV_HANDELSHUIS_EEN_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:NV_HANDELSHUIS_EEN_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:NV_HANDELSHUIS_EEN_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="InkomType">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="GEMEEN"/>
                                <xs:enumeration value="APART"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Wonen" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="WonenNuttigeOppervlakte">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:decimal">
                                                <xs:attribute name="eenheid" fixed="m²">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string"/>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="SlaapkamerAantal">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer"/>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Handel" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="HandelNuttigeOppervlakte">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:decimal">
                                                <xs:attribute name="eenheid" fixed="m²">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string"/>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="PubliekOppervlakte">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:decimal">
                                                <xs:attribute name="eenheid" fixed="m²">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string"/>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="PersoonAantal">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="UitgangAantal">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="UitgangBreedte">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:decimal">
                                                <xs:attribute name="eenheid" fixed="m">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string"/>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>