magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/NV_INFRA_GSM_MAST_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:NV_INFRA_GSM_MAST_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:NV_INFRA_GSM_MAST_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="IsZendmast" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ZendmastHoogte" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.ZendmastHoogte">
                                    <xs:attribute name="eenheid" fixed="m">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ZendmastGebouwHoogte" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.ZendmastGebouwHoogte">
                                    <xs:attribute name="eenheid" fixed="m">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IsPyloon" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="PyloonHoogte" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.PyloonHoogte">
                                    <xs:attribute name="eenheid" fixed="m">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IsAntenneGevel" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="AntenneGevelHoogte" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.AntenneGevelHoogte">
                                    <xs:attribute name="eenheid" fixed="m">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IsAndereHandeling" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="AndereHandeling" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="type.ZendmastHoogte">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type.ZendmastGebouwHoogte">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type.PyloonHoogte">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type.AntenneGevelHoogte">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>