magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/NV_PARKING_GEBOUW_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:NV_PARKING_GEBOUW_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:NV_PARKING_GEBOUW_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="IsParkingInGebouw">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="J"/>
                                <xs:enumeration value="N"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ParkingInGebouw" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="InGebouwAutoAantal">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="InGebouwAutoAndersvalideAantal">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="InGebouwFietsAantal">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:integer"/>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>