magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/NV_WONEN_EEN_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:NV_WONEN_EEN_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:NV_WONEN_EEN_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="NuttigeOppervlakte">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="SlaapkamerAantal">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="IsZorgwoning">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="J"/>
                                <xs:enumeration value="N"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ZorgwoningVolume" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.ZorgwoningVolume">
                                    <xs:attribute name="eenheid" fixed="m³">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IsVrijBeroep">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="N"/>
                                <xs:enumeration value="VOLLEDIG"/>
                                <xs:enumeration value="DEELS"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="DeelVrijBeroepOppervlakte" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.DeelVrijBeroepOppervlakte">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="IsKamerVerhuur">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="J"/>
                                <xs:enumeration value="N"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="KamerVerhuurAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="type.ZorgwoningVolume">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type.DeelVrijBeroepOppervlakte">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>