magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/RECLAME_DOEK_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:RECLAME_DOEK_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:RECLAME_DOEK_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="Aard">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="GEVEL"/>
                                <xs:enumeration value="WERFSTELLING"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Bevestiging" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value=".+"/>
                                <xs:enumeration value="GEVEL_DIRECT"/>
                                <xs:enumeration value="GEVEL_FRAME"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="DoekOppervlakte">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ReclameOppervlakte">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="PerceelsgrensLinksAfstand">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                    <xs:attribute name="eenheid" fixed="m">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="PerceelsgrensRechtsAfstand">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                    <xs:attribute name="eenheid" fixed="m">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>