magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/RECLAME_WISSEL_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:RECLAME_WISSEL_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:RECLAME_WISSEL_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="ReclameOppervlakteVast">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.ReclameOppervlakteVast">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ReclameOppervlakte" minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="type.ReclameOppervlakte">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Plaatsing">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="VOORGEVEL"/>
                                <xs:enumeration value="ZIJGEVEL_VRIJSTAAND"/>
                                <xs:enumeration value="ZIJGEVEL_WACHTGEVEL"/>
                                <xs:enumeration value="ANDEREGEVEL"/>
                                <xs:enumeration value="DAK"/>
                                <xs:enumeration value="TERREINAFSLUITING"/>
                                <xs:enumeration value="WERFAANSLUITING"/>
                                <xs:enumeration value="VRIJSTAAND"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Uitvoering">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="VAST"/>
                                <xs:enumeration value="ROTEREND"/>
                                <xs:enumeration value="TRIVISION"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="type.ReclameOppervlakteVast">
        <xs:restriction base="xs:string">
            <xs:enumeration value="4"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type.ReclameOppervlakte">
        <xs:restriction base="xs:decimal">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>