magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/S_WERKEN_ORGEBOUW_NOCONSTRUCT_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:S_WERKEN_ORGEBOUW_NOCONSTRUCT_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:S_WERKEN_ORGEBOUW_NOCONSTRUCT_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="IsKortbijHoofdgebouw" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="J"/>
                                <xs:enumeration value="N"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Ligging">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="VOORTUIN"/>
                                        <xs:enumeration value="ZIJTUIN"/>
                                        <xs:enumeration value="ACHTERTUIN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="GrondOppervlakte_asis">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                    <xs:attribute name="eenheid" fixed="m²">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>