magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/V_DIENSTEN_PARKEERGARAGE_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_DIENSTEN_PARKEERGARAGE_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_DIENSTEN_PARKEERGARAGE_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="IsParkingBovengronds" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BovengrondsParkeerplaatsAutoAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BovengrondsParkeerplaatsAndersvalideAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BovengrondsParkeerplaatsFietsAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="IsParkingBovengronds_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BovengrondsParkeerplaatsAutoAantal_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BovengrondsParkeerplaatsAndersvalideAantal_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="BovengrondsParkeerplaatsFietsAantal_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="IsParkingOndergronds" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OndergrondsParkeerplaatsAutoAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OndergrondsParkeerplaatsAndersvalideAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OndergrondsParkeerplaatsFietsAantal" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="IsParkingOndergronds_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="J"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OndergrondsParkeerplaatsAutoAantal_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OndergrondsParkeerplaatsAndersvalideAantal_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="OndergrondsParkeerplaatsFietsAantal_asis" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer">
                                <xs:pattern value=".+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>