magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/V_DIENSTEN_SERVICEFLAT_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_DIENSTEN_SERVICEFLAT_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_DIENSTEN_SERVICEFLAT_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="FlatAantal">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="FlatAantal_asis">
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>