magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/Situatie-1.1/V_WERKEN_ORGEBOUW_GEVELDAKINTERN_004.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:situatie:V_WERKEN_ORGEBOUW_GEVELDAKINTERN_004:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:situatie:V_WERKEN_ORGEBOUW_GEVELDAKINTERN_004:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="SituatieDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:SituatieDatablok">
                <xs:sequence>
                    <xs:element name="GebouwNummer">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="WerkenAard">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="GEVEL"/>
                                        <xs:enumeration value="DAK"/>
                                        <xs:enumeration value="INTERN"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="GevelType" minOccurs="0">
                        <xs:simpleType>
                            <xs:list>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value=".+"/>
                                        <xs:enumeration value="VOORGEVEL"/>
                                        <xs:enumeration value="ZIJGEVEL"/>
                                        <xs:enumeration value="ACHTERGEVEL"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:list>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="WerkenOmschrijving">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>