magdamock-spring/src/main/resources/magda.xsd/Persoon.PubliceerInwonersPerAdresDienst-01.00/Service/PubliceerInwonersPerAdres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by Bert Van Kets (Facilipunt - Agentschap Facilitair Bedrijf) -->
<xs:schema xmlns="http://magda.vlaanderen.be/persoon/file/publiceerinwonersperadres/v01_00" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:pers="http://magda.vlaanderen.be/persoon-v3" targetNamespace="http://magda.vlaanderen.be/persoon/file/publiceerinwonersperadres/v01_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xs:import namespace="http://magda.vlaanderen.be/persoon-v3" schemaLocation="../../Persoon/Persoon-v3.xsd"/>
	<xs:element name="PubliceerInwonersPerAdres">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Publicatie" type="PublicatieType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PublicatieType">
		<xs:sequence>
			<xs:element name="Context" type="generiek:ContextType"/>
			<xs:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnderwerpenType">
		<xs:sequence>
			<xs:element name="Onderwerp" type="OnderwerpType" maxOccurs="unbounded"/>
		</xs:sequence>

	</xs:complexType>
	<xs:complexType name="OnderwerpType">
		<xs:sequence>
			<xs:element name="Referte" type="generiek:ReferteType"/>
			<xs:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnderwerpInhoudType">
		<xs:sequence>
			<xs:element name="InwonersPerAdres" type="pers:InwonersPerAdresType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
