magdamock-spring/src/main/resources/magda.xsd/SocZek.GeefWerkzoekendeDienst-02.00/WebService/GeefWerkzoekendeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://webservice.geefwerkzoekendedienst-02_00.soczek-02_00.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:soczek="http://soczek-02_00.vip.vlaanderen.be" targetNamespace="http://webservice.geefwerkzoekendedienst-02_00.soczek-02_00.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.00">
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xs:import namespace="http://soczek-02_00.vip.vlaanderen.be" schemaLocation="../../SocZek-02.00/SocZek.xsd"/>
	<xs:element name="GeefWerkzoekendeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Repliek" type="RepliekType" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RepliekType">
		<xs:sequence>
			<xs:element name="Context" type="generiek:ContextType"/>
			<xs:element name="Antwoorden" type="AntwoordenType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fouten die voorkomen na de verwerking van de Context maar voor de verwerking van Vraag of Antwoord bv: XSD Validatie fouten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AntwoordenType">
		<xs:sequence>
			<xs:element name="Antwoord" type="AntwoordType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AntwoordType">
		<xs:sequence>
			<xs:element name="Referte" type="generiek:ReferteType"/>
			<xs:element name="Inhoud" type="AntwoordInhoudType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fouten die voorkomen na de verwerking van Vraag of Antwoord bv: warnings rond ontbrekende data en fouten gelinked aan 1 antwoord</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AntwoordInhoudType">
		<xs:sequence>
			<xs:element name="Werkzoekende" type="soczek:Werkzoekende2_0Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
