magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/BevestigenOndertekenen/GEB_BEVESTIGEN_ONDERTEKENEN_AANVRAAG_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_BEVESTIGEN_ONDERTEKENEN_AANVRAAG_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_BEVESTIGEN_ONDERTEKENEN_AANVRAAG_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
    <xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xs:complexType name="GebeurtenisDatablok">
        <xs:complexContent>
            <xs:extension base="dossier:GebeurtenisDatablok">
                <xs:sequence>
                    <xs:element name="PersoonId" type="dossier:ExternId" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>De identificatie waarmee deze persoon in externe systemen gekend is.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HoedanigheidCode" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="Verklaring" minOccurs="1" maxOccurs="1">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="2000"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>