magdamock-spring/src/main/resources/magda.xsd/Persoon-01.01/GeneriekeDataKern.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<!-- edited with XMLSpy v2006 U (http://www.altova.com) by levellerlevvie (EDS-Telindus) -->
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="http://persoon.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://persoon.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="0.35">
	<xs:simpleType name="VlagType">
		<xs:annotation>
			<xs:documentation> | 0( onvolledige info ) | 1( volledige info ) | 
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BronType">
		<xs:annotation>
			<xs:documentation> | KSZ ( Kruispuntbank Sociale Zekerheid ) | RR (Rijksregister) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KSZ"/>
			<xs:enumeration value="RR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NaamLangCriteriaType">
		<xs:annotation>
			<xs:documentation>NaamLangCriteriaType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="48"/>
			<xs:pattern value="[\p{L}\p{N}\s\-]*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
