magdamock-spring/src/main/resources/magda.xsd/Persoon-01.01/GeneriekeDataCodes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<!-- edited with XMLSpy v2006 U (http://www.altova.com) by levellerlevvie (EDS-Telindus) -->
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="http://persoon.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://persoon.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="0.31">
	<xs:simpleType name="GeslachtEnumType">
		<xs:annotation>
			<xs:documentation> | 1( Mannelijk ) | 2( Vrouwelijk ) | 0( Onbekend ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BurgerlijkeStaatEnumType">
		<xs:annotation>
			<xs:documentation> | 10( Ongehuwd ) | 20( Gehuwd ) | 25( Nietigverklaring van het huwelijk ) | 26( Putatief huwelijk ) | 30( Weduwnaar/weduwe ) | 40( Echtgescheiden ) | 41( Echtgescheiden vanaf 1/10/1994 ) | 50( Gescheiden van tafel en bed ) | 51( Gescheiden van tafel en bed vanaf 1/10/1994 ) | 60( Verstoting ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="40"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdresSoortEnumType">
		<xs:annotation>
			<xs:documentation> | 01( Diplomatische post ) | 02( Tijdelijk Adres België ) | 03( Postadres buitenland ) | 04( Tijdelijk Adres buitenland ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelatieEnumType">
		<xs:annotation>
			<xs:documentation> | 01( gezinshoofd ) | 02( echtgenote, echtgenoot ) | 03( zoon, dochter ) | 04( schoonzoon, schoondochter ) | 05( kleinzoon, kleindochter ) | 06( vader, moeder ) | 07( schoonvader, schoonmoeder ) | 08( grootvader, grootmoeder ) | 09( broer, zuster ) | 10( schoonbroer, schoonzuster ) | 11( verwant, verwante ) | 12( zonder familieverband ) | 13( stiefzoon, stiefdochter ) | 14( achterkleinzoon, achterkleindochter ) | 15( tante, oom ) | 16( nicht, neef (verwantschap : 3de graad) ) | 17( nicht, neef (verwantschap : 4de graad) ) | 20( gemeenschappen, tehuizen ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
