magdamock-spring/src/main/resources/magda.xsd/Persoon-01.01/GeneriekeDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<!-- edited with XMLSpy v2006 U (http://www.altova.com) by Ives Verhoeven (EDS-Telindus) -->
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="http://persoon.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek.vip.vlaanderen.be" targetNamespace="http://persoon.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="0.35">
	<xs:import namespace="http://generiek.vip.vlaanderen.be" schemaLocation="../Generiek-01.01/Generiek.xsd"/>
	<xs:include schemaLocation="GeneriekeDataCodes.xsd"/>
	<xs:include schemaLocation="GeneriekeDataKern.xsd"/>
	<xs:complexType name="BeschrijvingTalenType">
		<xs:annotation>
			<xs:documentation>Segment dat kan gebruikt worden om een aantal keer een taalbeschrijving. Waar gebruikt, komt er in de kolom "Max aantal" het maximum voorkomens van dit segment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaalCode" type="generiek:TaalCodeType">
				<xs:annotation>
					<xs:documentation>Taal van de beschrijving.  Waarden zijn te vinden in de codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Beschrijving" type="generiek:TekstType">
				<xs:annotation>
					<xs:documentation>Beschrijving</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GebeurtenisType">
		<xs:annotation>
			<xs:documentation>Algemeen segment dat kan gebruikt worden om gebeurtenis aan te geven op bepaalde plaats en op bepaalde datum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Gemeente" type="generiek:GemeenteType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gemeente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Land" type="generiek:LandType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Land moet niet noodzakelijk ingevuld zijn.  Indien niet ingevuld, kan dit evenuteel uit de gemeente afgeleid worden.  Indien niet, is het land België.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datum" type="generiek:DatumType">
				<xs:annotation>
					<xs:documentation>Datum van gebeurtenis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DatumModificatie" type="generiek:DatumType">
			<xs:annotation>
				<xs:documentation>Geeft aan wanneer de laatste wijziging aan de naam van deze persoon is gebeurd, enkel gebruik bij Antwoord.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GebeurtenisCriteriaType">
		<xs:annotation>
			<xs:documentation>Algemeen segment dat kan gebruikt worden om gebeurtenis aan te geven op bepaalde plaats en op bepaalde datum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Periode" type="generiek:PeriodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum van gebeurtenis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StraatCriteriaType">
		<xs:annotation>
			<xs:documentation>StraatCriteriaType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NISCode" type="generiek:StraatNISCodeType">
				<xs:annotation>
					<xs:documentation>NIS Code.  Voor straat kan deze bestaan uit 3 of 4 cijfers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GemeenteCriteriaType">
		<xs:annotation>
			<xs:documentation>GemeenteCriteriaType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PostCode" type="generiek:PostCodeType">
				<xs:annotation>
					<xs:documentation>Postcode van de gemeente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdresSoortCodeType">
		<xs:annotation>
			<xs:documentation>is een extension van simpel Type 'AdresSoortEnumType' + beschrijving</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AdresSoortEnumType">
				<xs:attribute name="Beschrijving" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AdresSoortType">
		<xs:annotation>
			<xs:documentation>AdresSoortType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SoortCode" type="AdresSoortCodeType">
				<xs:annotation>
					<xs:documentation>SoortCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="generiek:AdresType">
				<xs:annotation>
					<xs:documentation>Adres</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TekstAdresType">
		<xs:annotation>
			<xs:documentation>TekstAdresType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AuthentiekeBronCode" type="generiek:AuthentiekeBronCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AuthentiekeBronCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Land" type="generiek:LandType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Land</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tekst" type="generiek:TekstType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tekst</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TekstAdresSoortType">
		<xs:annotation>
			<xs:documentation>TekstAdresSoortType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SoortCode" type="AdresSoortCodeType">
				<xs:annotation>
					<xs:documentation>SoortCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TekstAdres" type="TekstAdresType">
				<xs:annotation>
					<xs:documentation>TekstAdres</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatieCodeType">
		<xs:annotation>
			<xs:documentation>is een extension van simpel Type 'RelatieEnumType' + beschrijving</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RelatieEnumType">
				<xs:attribute name="Beschrijving" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GeslachtCodeType">
		<xs:annotation>
			<xs:documentation>is een extension van simpel Type 'GeslachtEnumType' + beschrijving</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="GeslachtEnumType">
				<xs:attribute name="DatumModificatie" type="generiek:DatumType">
					<xs:annotation>
						<xs:documentation>Geeft aan wanneer de laatste wijziging aan de naam van deze persoon is gebeurd, enkel gebruik bij Antwoord.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Beschrijving" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BurgerlijkeStaatCodeType">
		<xs:annotation>
			<xs:documentation>is een extension van simpel Type 'BurgerlijkeStaatEnumType' + beschrijving</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="BurgerlijkeStaatEnumType">
				<xs:attribute name="Beschrijving" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PersoonNaamType">
		<xs:annotation>
			<xs:documentation>PersoonNaamType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Achternaam" type="generiek:NaamLangType">
				<xs:annotation>
					<xs:documentation>Familienaam</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Voornaam" type="generiek:NaamKortType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eerste voornaam </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TweedeVoornaam" type="generiek:NaamKortType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tweede voornaam </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoornaamVolledigVlag" type="VlagType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Controlevlag of volledige voornamen zijn meegedeeld. Heeft waarde '0' bij 1 voornaam of 2 waarvan één onvolledig is. Heeft waarde '1' bij 2 volledige voornamen, beide voornamen zijn gescheiden door een blanco.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DatumModificatie" type="generiek:DatumType">
			<xs:annotation>
				<xs:documentation>Geeft aan wanneer de laatste wijziging aan de naam van deze persoon is gebeurd, enkel gebruik bij Antwoord.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PersoonNaamCriteriaType">
		<xs:annotation>
			<xs:documentation>PersoonNaamCriteriaType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Achternaam" type="generiek:NaamLangType">
				<xs:annotation>
					<xs:documentation>Familienaam</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Voornaam" type="generiek:NaamKortType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eerste voornaam </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TweedeVoornaam" type="generiek:NaamKortType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tweede voornaam </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NationaliteitsType">
		<xs:annotation>
			<xs:documentation>NationaliteitsType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="generiek:LandType">
				<xs:attribute name="DatumModificatie" type="generiek:DatumType">
					<xs:annotation>
						<xs:documentation>Dag waarop de nationaliteit werd verworven.  Indien niet ingevuld is dit ofwel niet gekend ofwel de geboortedatum. Enkel gebruik bij Antwoord.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersoonBeknoptType">
		<xs:annotation>
			<xs:documentation>PersoonBeknoptType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INSZ" type="generiek:INSZType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het INSZ (Identificatienummer Sociale Zekerheid), RR of Bis nummer. De inhoud van dit veld moet precies 11 tekens lang zijn; voorloopnullen mogen niet worden weggelaten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="PersoonNaamType">
				<xs:annotation>
					<xs:documentation>Naam</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BurgerlijkeStaatType">
		<xs:annotation>
			<xs:documentation>BurgerlijkeStaatType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="BurgerlijkeStaatCodeType">
				<xs:annotation>
					<xs:documentation>BurgerlijkeStaatCode van de persoon. Voor waardes zie codetabel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Partner" type="PersoonBeknoptType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gegevens over de partner van de persoon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gebeurtenis" type="GebeurtenisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gebeurtenis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonenType">
		<xs:sequence>
			<xs:element name="Persoon" type="PersoonType" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersoonType">
		<xs:annotation>
			<xs:documentation>PersoonType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INSZ" type="generiek:INSZType">
				<xs:annotation>
					<xs:documentation>Het INSZ (Identificatienummer Sociale Zekerheid), RR of Bis nummer. De inhoud van dit veld moet precies 11 tekens lang zijn; voorloopnullen mogen niet worden weggelaten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VervangenINSZ" type="generiek:INSZType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het INSZ van de Persoon dat wanneer het is vervangen door een nieuwe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthentiekeBronCode" type="generiek:AuthentiekeBronCodeType">
				<xs:annotation>
					<xs:documentation>AuthentiekeBronCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Naam" type="PersoonNaamType">
				<xs:annotation>
					<xs:documentation>Is de persoon van het INSZ nummer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="GeslachtCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Beschrijving mannelijk of vrouwelijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboorte" type="GebeurtenisType">
				<xs:annotation>
					<xs:documentation>Geboorte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BurgerlijkeStaat" type="BurgerlijkeStaatType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BurgerlijkeStaat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overlijden" type="GebeurtenisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Overlijden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="generiek:ContactType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="generiek:AdresType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnderAdres" type="TekstAdresSoortType" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Elke afzonderlijke soort code mag slechts 1 keer voorkomen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nationaliteit" type="NationaliteitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nationaliteit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GezinsLedenType">
		<xs:sequence>
			<xs:element name="GezinsLid" type="GezinsLidType" maxOccurs="20"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GezinsLidType">
		<xs:annotation>
			<xs:documentation>GezinslidType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RelatieCode" type="RelatieCodeType">
				<xs:annotation>
					<xs:documentation>Stand in het gezin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Persoon" type="PersoonBeknoptType">
				<xs:annotation>
					<xs:documentation>Persoon</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DatumModificatie" type="generiek:DatumType">
			<xs:annotation>
				<xs:documentation>De dag waarop deze persoon gezinslid is geworden. Enkel gebruik bij Vraag.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NaamCriteriaType">
		<xs:annotation>
			<xs:documentation>NaamCriteriaType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Naam" type="PersoonNaamCriteriaType">
				<xs:annotation>
					<xs:documentation>Naam</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboorte" type="GebeurtenisCriteriaType">
				<xs:annotation>
					<xs:documentation>Geboorte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="GeslachtCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Geslacht</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdresCriteriaType">
		<xs:annotation>
			<xs:documentation>AdresCriteriaType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Straat" type="StraatCriteriaType">
				<xs:annotation>
					<xs:documentation>StraatCriteria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HuisNummer" type="generiek:HuisNummerType">
				<xs:annotation>
					<xs:documentation>Huisnummer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusNummer" type="generiek:BusNummerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bus van het huisnummer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gemeente" type="GemeenteCriteriaType">
				<xs:annotation>
					<xs:documentation>GemeenteCriteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersoonAanmaakType">
		<xs:annotation>
			<xs:documentation>PersoonAanmaakType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Naam" type="PersoonNaamType">
				<xs:annotation>
					<xs:documentation>Is de persoon van het INSZ nummer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geslacht" type="GeslachtCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Beschrijving mannelijk of vrouwelijk</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Geboorte" type="GebeurtenisType">
				<xs:annotation>
					<xs:documentation>Geboorte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BurgerlijkeStaat" type="BurgerlijkeStaatType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BurgerlijkeStaat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overlijden" type="GebeurtenisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Overlijden</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adres" type="generiek:AdresType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nationaliteit" type="NationaliteitsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nationaliteit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DossierPersoonType">
		<xs:annotation>
			<xs:documentation>DossierPersoonType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hoedanigheid" type="generiek:NaamKortType">
				<xs:annotation>
					<xs:documentation>Hoedanigheid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INSZ" type="generiek:INSZType">
				<xs:annotation>
					<xs:documentation>INSZ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VervangenINSZ" type="generiek:INSZType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het INSZ van de Persoon dat wanneer het is vervangen door een nieuwe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Periodes" type="generiek:GeldighedenType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Periodes</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VervangenPersoonType">
		<xs:annotation>
			<xs:documentation>VervangenPersoonType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INSZ" type="generiek:INSZType">
				<xs:annotation>
					<xs:documentation>Het INSZ (Identificatienummer Sociale Zekerheid), RR of Bis nummer. De inhoud van dit veld moet precies 11 tekens lang zijn; voorloopnullen mogen niet worden weggelaten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VervangenINSZ" type="generiek:INSZType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Het INSZ van de Persoon dat wanneer het is vervangen door een nieuwe</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersoonMetGezinType">
		<xs:annotation>
			<xs:documentation>PersoonMetGezinType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Persoon" type="PersoonType">
				<xs:annotation>
					<xs:documentation>PersoonType</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GezinsLeden" type="GezinsLedenType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>GezinsLedenType</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
