magdamock-spring/src/main/resources/magda.xsd/SocZek.PubliceerWerknemerbijdrageverminderingDienst-01.00/Service/PubliceerWerknemerbijdragevermindering.xsd

<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by Bert Van Kets (Facilipunt - Agentschap Facilitair Bedrijf) -->
<xsd:schema xmlns="http://magda.vlaanderen.be/soczek/file/publiceerwerknemerbijdragevermindering/v01" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:bron="http://kszbcss.fgov.be/types" targetNamespace="http://magda.vlaanderen.be/soczek/file/publiceerwerknemerbijdragevermindering/v01" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/Generiek-v3.xsd"/>
	<xsd:import namespace="http://kszbcss.fgov.be/types" schemaLocation="../../Bronnen/KSZ/KSZAddon.xsd"/>
	<xsd:element name="PubliceerWerknemerbijdragevermindering">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Publicatie" type="PublicatieType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PublicatieType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpenType">
		<xsd:sequence>
			<xsd:element name="Onderwerp" type="OnderwerpType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpInhoudType">
		<xsd:sequence>
			<xsd:element name="notifyDeduction" type="bron:notifyDeduction"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
