magdamock-spring/src/main/resources/magda.xsd/Werk.GeefBijdrageARZADienst-01.00/Service/GeefBijdrageARZA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://magda.vlaanderen.be/werk/file/geefbijdragearza/v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:bron="http://kszbcss.fgov.be/types/SelfEmployed/v2" targetNamespace="http://magda.vlaanderen.be/werk/file/geefbijdragearza/v01_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/Generiek-v3.xsd"/>
	<xsd:import namespace="http://kszbcss.fgov.be/types/SelfEmployed/v2" schemaLocation="../../Bronnen/KSZ/be/fgov/kszbcss/types/SelfEmployed/SelfEmployedTypesV2.xsd"/>
	<!--Request bericht-->
    <xsd:element name="GeefBijdrageARZA">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Verzoek" type="VerzoekType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
	<!--Request types-->
	<xsd:complexType name="VerzoekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Vragen" type="VraagLijstType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagLijstType">
		<xsd:sequence>
			<xsd:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Criteria" type="bron:ConsultContributionsCriteriaType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
