magdamock-spring/src/main/resources/magda.xsd/Inburgering.GeefDossierKBIDienst-02.00/Service/GeefDossierKBI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://service.geefdossierkbidienst-02_00.inburgering-02_00.vip.vlaanderen.be" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be" targetNamespace="http://service.geefdossierkbidienst-02_00.inburgering-02_00.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="02.00">
	<xsd:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xsd:element name="GeefDossierKBI">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Verzoek" type="VerzoekType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VerzoekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Vragen" type="VragenType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VragenType">
		<xsd:sequence>
			<xsd:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="VraagInhoudType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagInhoudType">
		<xsd:sequence>
			<xsd:element name="MutatiesContext" type="xsd:boolean" default="true">
				<xsd:annotation>
					<xsd:documentation>Verplichte parameter die aangeeft of de vraag al dan niet in de context van de mutaties doorgestuurd wordt. (default true)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="INSZ" type="generiek:INSZType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
