magdamock-spring/src/main/resources/magda.xsd/Gezin/Zorgtoeslag-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://magda.vlaanderen.be/gezin-v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" targetNamespace="http://magda.vlaanderen.be/gezin-v3" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../Sleutel-02.00/Sleutel.xsd"/>
	<xs:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../Generiek/GeneriekDomein-v3.xsd"/>
	<!--=> ENKELVOUDIGE TYPE DEFINITES-->
	<xs:simpleType name="ZorgtoeslagStatusAanvraagWetgevingCodeType">
		<xs:annotation>
			<xs:documentation>Code van de reglementering die de basis vormt voor de aanvraag.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZorgtoeslagErkenningWetgevingCodeType">
		<xs:annotation>
			<xs:documentation>Code van de reglementering die de basis vormt voor de aanvraag.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZorgtoeslagPijler1Type">
		<xs:annotation>
			<xs:documentation>Aantal punten dat het kind scoort voor de gevolgen van de aandoening op het vlak van de lichamelijke of geestelijke ongeschiktheid.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZorgtoeslagPijler2Type">
		<xs:annotation>
			<xs:documentation>Aantal punten dat het kind scoort voor de gevolgen van de aandoening op het vlak van de activiteit en de participatie.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZorgtoeslagPijler3Type">
		<xs:annotation>
			<xs:documentation>Aantal punten dat het kind scoort voor de gevolgen van de aandoening voor de familiale omgeving.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="18"/>
		</xs:restriction>
	</xs:simpleType>
    <!--=> AANPASSINGEN-->
	<xs:complexType name="ZorgtoeslagSubPijlersPijler2Type">
		<xs:annotation>
			<xs:documentation>Bevat de erkenning met het aantal punten op de verschillende subpijlers binnen pijler 2.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubPijler2.1" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Leren, opleiding en sociale integratie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubPijler2.2" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Communicatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubPijler2.3" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mobiliteit en verplaatsing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubPijler2.4" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zelfverzorging.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagSubPijlersPijler3Type">
		<xs:annotation>
			<xs:documentation>Bevat de erkenning met het aantal punten op de verschillende subpijlers binnen pijler 3.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubPijler3.1" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Opvolging van de behandeling thuis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubPijler3.2" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Verplaatsing voor medisch toezicht en behandeling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubPijler3.3" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aanpassing van het leefmilieu en leefwijze.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    <!--=> EINDE AANPASSINGEN-->
	<xs:simpleType name="ZorgtoeslagTotaalPijlersType">
		<xs:annotation>
			<xs:documentation>Totale score van het kind.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZorgtoeslagStatusBeslissingType">
		<xs:annotation>
			<xs:documentation>Duidt de status van de beslissing van de erkenning van handicap aan.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=> SAMENGESTELDE TYPE DEFINITES-->
	<xs:complexType name="GeefZorgtoeslagCriteriaType">
		<xs:annotation>
			<xs:documentation>Criteria op basis waarvan de consultatie dient te gebeuren.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INSZ" type="sleutel:INSZType"/>
		<!--=> Aanpassing 09/09/2020 Choice Tbv ReferentieDatum VS Periode-->
			<xs:choice>
				<xs:element name="Referentiedatum" type="generiek:DatumType"/>
				<xs:element name="Periode" type="generiek:PeriodeDatumBeginEnEindeVerplichtType"/>
			</xs:choice>
		<!--=> Aanpassing EINDE 09/09/2020 Choice Tbv ReferentieDatum VS Periode-->
			<xs:element name="GewensteInformatie" type="ZorgtoeslagGewensteInformatieType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagGewensteInformatieType">
		<xs:annotation>
			<xs:documentation>De onderdelen van het dossier die geconsulteerd worden.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusAanvraag" type="generiek:VlagCodeType"/>
			<xs:element name="Erkenningen" type="generiek:VlagCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagType">
		<xs:annotation>
			<xs:documentation>Resultaten van de opvraging.

Dit blok is niet aanwezig wanneer er zich een fout voordoet bij de bron die verdere afhandeling van de vraag verhindert.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INSZ" type="sleutel:INSZType"/>
			<xs:element name="StatusAanvraag" type="ZorgtoeslagStatusAanvraagType" minOccurs="0"/>
			<xs:element name="Erkenningen" type="ZorgtoeslagErkenningLijstType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagStatusAanvraagType">
		<xs:annotation>
			<xs:documentation>Informatieblok m.b.t. de verwerking van de aanvraag.

Dit blok is niet aanwezig in twee gevallen. Ofwel is het niet gevraagd in de criteria, ofwel is het niet aanwezig bij de bron.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Wetgeving" type="ZorgtoeslagStatusAanvraagWetgevingType"/>
			<xs:element name="DatumAanvraag" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="ErkenningLopende" type="generiek:VlagCodeType"/>
			<xs:element name="DatumDossierVolledig" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="InBeroep" type="generiek:VlagCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagStatusAanvraagWetgevingType">
		<xs:annotation>
			<xs:documentation>Geeft aan welke reglementering de basis vormt voor de aanvraag.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="generiek:AbstractGeheelGetalCodeOmschrijvingType">
				<xs:sequence>
					<xs:element name="Code" type="ZorgtoeslagStatusAanvraagWetgevingCodeType"/>
					<xs:element name="Omschrijving" type="ZorgtoeslagStatusAanvraagWetgevingOmschrijvingType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagStatusAanvraagWetgevingOmschrijvingType">
		<xs:annotation>
			<xs:documentation>Omschrijving van de reglementering die de basis vormt voor de aanvraag.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="generiek:AbstractOmschrijvingType">
				<xs:minLength value="1"/>
				<xs:maxLength value="120"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagErkenningLijstType">
		<xs:annotation>
			<xs:documentation>Lijst van erkenningen van handicap.

Dit blok is niet aanwezig in twee gevallen. Ofwel is het niet gevraagd in de criteria, ofwel is het niet aanwezig bij de bron.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Erkenning" type="ZorgtoeslagErkenningType" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagErkenningType">
		<xs:annotation>
			<xs:documentation>Informatieblok m.b.t. de erkenning van een handicap.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusErkenning" type="ZorgtoeslagStatusErkenningType"/>
			<xs:element name="Wetgeving" type="ZorgtoeslagErkenningWetgevingType"/>
			<xs:element name="ResultaatErkenningKind" type="ZorgtoeslagErkenningPijlersType" minOccurs="0"/>
			<xs:element name="StatusBeslissing" type="ZorgtoeslagStatusBeslissingType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagStatusErkenningType">
		<xs:annotation>
			<xs:documentation>Status informatie m.b.t. de erkenning van een handicap.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DatumBeslissing" type="generiek:DatumType"/>
			<xs:element name="PeriodeErkenning" type="generiek:PeriodeDatumBeginVerplichtType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagErkenningWetgevingType">
		<xs:annotation>
			<xs:documentation>Geeft aan welke reglementering de basis vormt voor de aanvraag.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="generiek:AbstractGeheelGetalCodeOmschrijvingType">
				<xs:sequence>
					<xs:element name="Code" type="ZorgtoeslagErkenningWetgevingCodeType"/>
					<xs:element name="Omschrijving" type="ZorgtoeslagErkenningWetgevingOmschrijvingType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZorgtoeslagErkenningWetgevingOmschrijvingType">
		<xs:annotation>
			<xs:documentation>Omschrijving van de reglementering die de basis vormt voor de aanvraag.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="generiek:AbstractOmschrijvingType">
				<xs:minLength value="1"/>
				<xs:maxLength value="120"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
    <!--=> AANPASSINGEN-->
	<xs:complexType name="ZorgtoeslagErkenningPijlersType">
		<xs:annotation>
			<xs:documentation>Bevat de erkenning met het aantal punten op de verschillende pijlers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pijlers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pijler1" type="ZorgtoeslagPijler1Type" minOccurs="0"/>
						<xs:element name="Pijler2" type="ZorgtoeslagPijler2Type" minOccurs="0"/>
						<xs:element name="Pijler3" type="ZorgtoeslagPijler3Type" minOccurs="0"/>
						<xs:element name="SubpijlerPijler2" type="ZorgtoeslagSubPijlersPijler2Type" minOccurs="0"/>
						<xs:element name="SubpijlerPijler3" type="ZorgtoeslagSubPijlersPijler3Type" minOccurs="0"/>
						<xs:element name="Totaal" type="ZorgtoeslagTotaalPijlersType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
    <!--=> EINDE AANPASSINGEN-->
</xs:schema>
