magdamock-spring/src/main/resources/magda.xsd/SocZek.PubliceerMutatieSocialeStatuten-02.00/Service/PubliceerMutatieSocialeStatuten.xsd

<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by Stefan Vleugels (AGENTSCHAP FACILITAIR BEDRIJF) -->
<xs:schema xmlns="http://service.publiceermutatiesocialestatuten-02_00.soczek-02_00.vip.vlaanderen.be"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be"
		   xmlns:soczek="http://soczek-02_00.vip.vlaanderen.be"
		   targetNamespace="http://service.publiceermutatiesocialestatuten-02_00.soczek-02_00.vip.vlaanderen.be"
		   elementFormDefault="unqualified"
		   attributeFormDefault="unqualified">
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xs:import namespace="http://soczek-02_00.vip.vlaanderen.be" schemaLocation="../../SocZek-02.00/SocZek.xsd"/>
	<xs:element name="PubliceerMutatieSocialeStatuten">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Publicatie" type="PublicatieType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PublicatieType">
		<xs:sequence>
			<xs:element name="Context" type="generiek:ContextType"/>
			<xs:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnderwerpenType">
		<xs:sequence>
			<xs:element name="Onderwerp" type="OnderwerpType" maxOccurs="1000000"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnderwerpType">
		<xs:sequence>
			<xs:element name="Referte" type="generiek:ReferteType"/>
			<xs:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
			<xs:element name="Uitzonderingen" type="generiek:UitzonderingenType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnderwerpInhoudType">
		<xs:sequence>
			<xs:element name="Metadata" type="generiek:MetadataType" minOccurs="0"/>
			<xs:element name="MutatieSocialeStatuten" type="soczek:MutatieSocialeStatutenType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
