magdamock-spring/src/main/resources/magda.xsd/Kadaster/KadasterGemeenschappelijk-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by Dagmar (Facilipunt - Agentschap Facilitair Bedrijf) -->
<xs:schema xmlns="http://magda.vlaanderen.be/kadaster-v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" targetNamespace="http://magda.vlaanderen.be/kadaster-v3" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../Sleutel-02.00/Sleutel.xsd"/>
	<xs:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../Generiek/GeneriekDomein-v3.xsd"/>
	<!--=> ENKELVOUDIGE TYPE DEFINITES-->
	<!-- Was: EigendomId (en is dat nog in Geef/ZoekEigendomstoestanden 2.00-->
	<xs:simpleType name="EigendomstoestandIdType">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="SectieType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GrondnummerType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BisnummerType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CijferexponentType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LetterexponentType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartitieType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:pattern value="P[0-9][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NoemerGemeneDelenType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PrecadType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[srSR]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartijIdType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=> SAMENGESTELDE TYPE DEFINITES-->
	<xs:complexType name="CoordinaatType">
		<xs:sequence>
			<xs:element name="x" type="XYCoordinaatType" minOccurs="0"/>
			<xs:element name="y" type="XYCoordinaatType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="XYCoordinaatType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Het PerceelIdentificatieType. Deze is generiek opgezet om de verschillende combinaties te kunnen faciliteren -->
	<xs:complexType name="PerceelIdentificatieType">
		<xs:sequence>
			<xs:element name="KadastraleAfdeling" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="Sectie" type="xs:string" minOccurs="0"/>
			<xs:element name="Grondnummer" type="xs:integer" minOccurs="0"/>
			<xs:element name="Bisnummer" type="xs:integer" minOccurs="0"/>
			<xs:element name="Cijferexponent" type="xs:integer" minOccurs="0"/>
			<xs:element name="Letterexponent" type="xs:string" minOccurs="0"/>
			<xs:element name="Partitie" type="xs:string" minOccurs="0"/>
			<xs:element name="NoemerGemeneDelen" type="xs:integer" minOccurs="0"/>
			<xs:element name="Precad" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HistoriekEigendomstoestandType">
		<xs:sequence>
			<xs:element name="PerceelIdentificatie" type="PerceelIdentificatieType" minOccurs="0"/>
			<xs:element name="EigendomstoestandId" type="EigendomstoestandIdType" minOccurs="0"/>
			<xs:element name="NietPerceelAanduiding" type="generiek:TekstLangType" minOccurs="0"/>
			<xs:element name="DetailAppartement" type="generiek:TekstLangType" minOccurs="0"/>
			<xs:element name="StatusPatrimoniaalPerceel" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="HistoriekEigendomstoestandId" type="xs:long" minOccurs="0"/>
			<xs:element name="DatumAnnulatie" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="Geldigheidsperiode" type="PeriodeDatumMetJaarType" minOccurs="0"/>
			<xs:element name="IsGeannuleerd" type="generiek:VlagCodeType" minOccurs="0"/>
			<xs:element name="IsTussenstap" type="generiek:VlagCodeType" minOccurs="0"/>
			<xs:element name="Artikelnummer" type="generiek:TekstLangType" minOccurs="0"/>
			<xs:element name="Volgnummer" type="generiek:TekstLangType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatiedossierType">
		<xs:sequence>
			<xs:element name="Dossiernummer" type="generiek:TekstLangType" minOccurs="0"/>
			<xs:element name="Dossiertype" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="RedenenMutatie" type="RedenMutatieLijstType" minOccurs="0"/>
			<xs:element name="Schetsen" type="SchetsLijstType" minOccurs="0"/>
			<xs:element name="DatumMutatie" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="JaartalMutatie" type="generiek:JaarType" minOccurs="0"/>
			<xs:element name="DatumValidatie" type="generiek:DatumType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MutatiedossierLijstType">
		<xs:sequence>
			<xs:element name="Mutatiedossier" type="MutatiedossierType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SchetsLijstType">
		<xs:sequence>
			<xs:element name="Schets" type="generiek:TekstLangType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RedenMutatieLijstType">
		<xs:sequence>
			<xs:element name="RedenMutatie" type="generiek:TekstLangType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodeDatumMetJaarType">
		<xs:sequence>
			<xs:element name="Begindatum" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="BegindatumJaar" type="generiek:JaarType" minOccurs="0"/>
			<xs:element name="Einddatum" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="EinddatumJaar" type="generiek:JaarType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConstructieType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Groepering van een viertal elementen specifiek over de bouw</xs:documentation>
			</xs:annotation>
			<xs:element name="IndicatieGebouw" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="KwaliteitGebouw" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="Bouwtype" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="Bouwjaar" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarktwaardeType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Groepering van de marktwaarde-elementen.</xs:documentation>
			</xs:annotation>
			<xs:element name="BerekendeWaarde" type="xs:decimal" minOccurs="0"/>
			<xs:element name="DatumBerekening" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="BerekendeMinimaleWaarde" type="xs:decimal" minOccurs="0"/>
			<xs:element name="BerekendeMaximaleWaarde" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentificatorType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="Type" default="nrn">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="persidf"/>
							<xs:enumeration value="kbo"/>
							<xs:enumeration value="nrn"/>
							<xs:enumeration value="local"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CriteriaIdentificatorType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="INSZ" type="sleutel:INSZType"/>
				<xs:element name="KBO" type="sleutel:OndernemingsnummerType"/>
				<xs:element name="PersIdf" type="xs:decimal"/>
				<xs:element name="Local" type="xs:decimal"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kadastraleAfdelingType">
		<xs:sequence>
			<xs:element name="KadastraleAfdelingCode" type="KadastraleAfdelingCodeType" minOccurs="0"/>
			<xs:element name="PartijId" type="PartijIdType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KadastraleAfdelingCodeType">
		<xs:sequence>
			<xs:element name="Code" type="KadastraleAfdelingCodeNumberType"/>
			<xs:element name="Omschrijving" type="generiek:OmschrijvingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="KadastraleAfdelingCodeNumberType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
