magdamock-spring/src/main/resources/magda.xsd/Kadaster/Transacties-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://magda.vlaanderen.be/kadaster-v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:bericht="http://generiek-02_00.vip.vlaanderen.be" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" targetNamespace="http://magda.vlaanderen.be/kadaster-v3" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../Generiek-02.00/Generiek.xsd"/>
	<xs:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../Sleutel-02.00/Sleutel.xsd"/>
	<xs:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../Generiek/GeneriekDomein-v3.xsd"/>
	<xs:include schemaLocation="KadasterGemeenschappelijk-v3.xsd"/>
	<!--=> ENKELVOUDIGE TYPE DEFINITES-->
	<!--=> SAMENGESTELDE TYPE DEFINITES-->
	<xs:complexType name="CriteriaGeefTransactiesType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="INSZ" type="sleutel:INSZType"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="Ondernemingsnummer" type="sleutel:OndernemingsnummerType"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PersoonLijstType">
		<xs:sequence>
			<xs:element name="Persoon" type="PersoonType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OndernemingLijstType">
		<xs:sequence>
			<xs:element name="Onderneming" type="OndernemingType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AktenLijstType">
		<xs:sequence>
			<xs:element name="Akte" type="AkteType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersoonType">
		<xs:sequence>
			<xs:element name="Id" type="IdentificatorType" minOccurs="0"/>
			<xs:element name="IdPubliek" type="IdentificatorType" minOccurs="0"/>
			<xs:element name="Voornaam" type="xs:string" minOccurs="0"/>
			<xs:element name="Familienaam" type="xs:string" minOccurs="0"/>
			<xs:element name="Postcode" type="generiek:PostCodeType" minOccurs="0"/>
			<xs:element name="Land" type="xs:string" minOccurs="0"/>
			<!-- Geboortedatum wordt door AAPD als string doorgegeven! -->
			<xs:element name="Geboortedatum" type="xs:string" minOccurs="0"/>
			<xs:element name="VoornaamZoekterm" type="xs:string" minOccurs="0"/>
			<xs:element name="FamilienaamZoekterm" type="xs:string" minOccurs="0"/>
			<xs:element name="Adres" type="generiek:AdresVoorstellingUitbreidingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OndernemingType">
		<xs:sequence>
			<xs:element name="Id" type="IdentificatorType" minOccurs="0"/>
			<xs:element name="IdPubliek" type="IdentificatorType" minOccurs="0"/>
			<xs:element name="Naam" type="xs:string" minOccurs="0"/>
			<xs:element name="Adres" type="generiek:AdresVoorstellingUitbreidingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AkteType">
		<xs:sequence>
			<xs:element name="AkteDatum" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="Transacties" type="CadNetTransactiesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CadNetTransactiesType">
		<xs:sequence>
			<xs:element name="Transactie" type="CadNetTransactieType" minOccurs="0" maxOccurs="999"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ======================== RESPONSE TYPES ======================= -->
	<xs:complexType name="CadNetTransactieResponseType">
		<xs:sequence>
			<xs:element name="Personen" type="PersoonLijstType" minOccurs="0"/>
			<xs:element name="Ondernemingen" type="OndernemingLijstType" minOccurs="0"/>
			<xs:element name="Akten" type="AktenLijstType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactiesType">
		<xs:sequence>
			<xs:element name="Transactie" type="TransactieType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactieType">
		<xs:sequence>
			<xs:element name="DatumTransactie" type="generiek:DatumType" minOccurs="0"/>
			<xs:element name="Dossiernummer" type="xs:string" minOccurs="0"/>
			<xs:element name="Overdracht" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="DossierType" type="DossierTypeType" minOccurs="0"/>
			<xs:element name="TransactieType" type="TransactieTypeType" minOccurs="0"/>
			<xs:element name="PerceelIdentificaties" type="PerceelIdentificatiesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CadNetTransactieType">
		<xs:sequence>
			<xs:element name="Type" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="Bedragen" type="BedragLijstType" minOccurs="0"/>
			<xs:element name="Inschrijving" type="InschrijvingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BedragLijstType">
		<xs:sequence>
			<xs:element name="Bedrag" type="BedragType" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InschrijvingType">
		<xs:sequence>
			<xs:element name="Acquisitie" type="generiek:VlagCodeType" minOccurs="0"/>
			<xs:element name="Beschikbaarheid" type="generiek:VlagCodeType" minOccurs="0"/>
			<xs:element name="PerceelIdentificatie" type="PerceelIdentificatieType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BedragType">
		<xs:sequence>
			<xs:element name="Type" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="Bedrag" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DossierTypeType">
		<xs:sequence>
			<xs:element name="DossierHoofdType" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="DossierSubType" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactieTypeType">
		<xs:sequence>
			<xs:element name="TransactieHoofdType" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="TransactieSubType" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PerceelIdentificatiesType">
		<xs:sequence>
			<xs:element name="PerceelIdentificatie" type="PerceelIdentificatieType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
