magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/VoorAdvies/GEB_VOORADVIES_CBS_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_VOORADVIES_CBS_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:gebeurtenis:GEB_VOORADVIES_CBS_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="GebeurtenisDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:GebeurtenisDatablok">
			<xs:sequence>
	<xs:element name="AdviesvraagTermijn">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="xs:integer">
		<xs:attribute name="eenheid" fixed="dag">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="VoorstelBeslissingAard">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VERGUNNING"/>
			<xs:enumeration value="WEIGERING"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VoorstelBeslissingVolledig" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="VOLLEDIG"/>
			<xs:enumeration value="GEDEELTELIJK"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="VoorstelOnderVoorwaarden" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>