magdamock-spring/src/main/resources/magda.xsd/Kadaster.GeefKadastraleAfdelingenOpKBODienst-01.00/WebService/GeefKadastraleAfdelingenOpKBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 (http://www.altova.com) by Thomas (Government of Flanders) -->
<xsd:schema xmlns="http://magda.vlaanderen.be/kadaster/soap/geefkadastraleafdelingenopkbo/v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" targetNamespace="http://magda.vlaanderen.be/kadaster/soap/geefkadastraleafdelingenopkbo/v01_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../../Sleutel-02.00/Sleutel.xsd"/>
	<xsd:element name="GeefKadastraleAfdelingenOpKBO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Verzoek" type="VerzoekType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VerzoekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Vragen" type="VragenType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VragenType">
		<xsd:sequence>
			<xsd:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="VraagInhoudType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagInhoudType">
		<xsd:sequence>
			<xsd:element name="Ondernemingsnummer" type="sleutel:OndernemingsnummerType"/>
			<xsd:element name="Taal" type="generiek:TaalCodeType"/>
			<xsd:element name="GeschrapteToestand" type="generiek:VlagCodeType" minOccurs="0"/>
			<xsd:element name="Situatie1Jan" type="generiek:JaarType" minOccurs="0"/>
			<xsd:element name="Historiek" type="generiek:VlagCodeType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
