magdamock-spring/src/main/resources/magda.xsd/Lerende-01.02/LerendeDataCodes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<xs:schema targetNamespace="http://lerende-01_02.vip.vlaanderen.be"
		   xmlns="http://lerende-01_02.vip.vlaanderen.be" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   elementFormDefault="unqualified" 
		   attributeFormDefault="unqualified" 
		   version="1.02.201107141455">

	<xs:simpleType name="AttestStatusEnumType">
		<xs:annotation>
			<xs:documentation> | 1( Origineel ) | 3( Annulatie ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttestTypeEnumType">
		<xs:annotation>
			<xs:documentation> | 1( Inschrijving ) | 2( Uitschrijving ) | 3( Wijziging ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoortOnderwijsEnumType">
		<xs:annotation>
			<xs:documentation> | 1( Gewoon ) | 2( Buitengewoon ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OnderwijsvormEnumType">
		<xs:annotation>
			<xs:documentation> | 1( ASO - Algemeen secundair onderwijs ) | 2( TSO - Technisch secundair onderwijs ) | 3( KSO - Kunstsecundair onderwijs ) | 4( BSO - Beroepssecundair onderwijs ) | 5( GSO - Gemeenschappelijk Secundair Onderwijs ) | 6( 999 - Andere onderwijsvormen ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OpleidingsvormBOEnumType">
		<xs:annotation>
			<xs:documentation> | 1( Social adjustment ) | 2( Social adjustment and making person capable to work ) | 3( Vocational education ) | 4( ASO,TSO,KSO,BSO,GSO,999 ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AardInschrijvingEnumType">
		<xs:annotation>
			<xs:documentation> | 1( primary inscription ) | 2( supplementary inscription ) | </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<!-- <xs:enumeration value="2"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoortContractEnumType">
		<xs:annotation>
			<xs:documentation> | 01( Diploma ) | 02( Credit ) | 03( Exam ) | 04( Examcontract diploma ) | 05( Examcontract credit ) | 99( Niet van toepassing ) |</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<!-- <xs:enumeration value="03"/> -->
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<!-- <xs:enumeration value="99"/> -->
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
