magdamock-spring/src/main/resources/magda.xsd/Onderneming/FiscaleInhoudingsplicht-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by Bert Van Kets (Facilipunt - Agentschap Facilitair Bedrijf) -->
<xs:schema xmlns="http://magda.vlaanderen.be/onderneming-v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bericht="http://generiek-02_00.vip.vlaanderen.be" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" targetNamespace="http://magda.vlaanderen.be/onderneming-v3" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../Generiek/GeneriekDomein-v3.xsd"/>
	<xs:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../Sleutel-02.00/Sleutel.xsd"/>
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../Generiek-02.00/Generiek.xsd"/>
	<!--=> ENKELVOUDIGE TYPE DEFINITES-->
	<xs:simpleType name="EmailadresInvoerType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelefoonnummerInvoerType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=> SAMENGESTELDE TYPE DEFINITES-->
	<xs:complexType name="ContactinformatieType">
		<xs:sequence>
			<xs:element name="Onderneming" type="OndernemingInvoerType"/>
			<xs:element name="Contactpersonen" type="ContactpersoonLijstType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OndernemingInvoerType">
		<xs:sequence>
			<xs:element name="Email" type="EmailadresInvoerType"/>
			<xs:element name="Telefoonnummer" type="TelefoonnummerInvoerType"/>
			<xs:element name="OndernemingsnummerAanvrager" type="sleutel:OndernemingsnummerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OndernemingType">
		<xs:sequence>
			<xs:element name="Naam" type="NaamOndernemingType" minOccurs="1"/>
			<xs:element name="Adres" type="generiek:AdresVoorstellingUitbreidingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactpersoonLijstType">
		<xs:sequence>
			<xs:element name="Contactpersoon" type="ContactpersoonType" minOccurs="1" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactpersoonType">
		<xs:sequence>
			<xs:element name="Naam" type="NaamContactType"/>
			<xs:element name="Email" type="EmailadresInvoerType"/>
			<xs:element name="Telefoonnummer" type="TelefoonnummerInvoerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NaamContactType">
		<xs:sequence>
			<xs:element name="Achternaam" type="generiek:NaamLangType"/>
			<xs:element name="Voornaam" type="generiek:NaamLangType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NaamOndernemingType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Taal" type="generiek:TaalCodeType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ======================== REQUEST TYPES ======================= -->
	<xs:complexType name="CriteriaGeefFiscaleInhoudingsplichtType">
		<xs:sequence>
			<xs:element name="Ondernemingsnummer" type="sleutel:OndernemingsnummerType"/>
			<xs:element name="OndernemingsnummerBestemmeling" type="sleutel:OndernemingsnummerType"/>
			<xs:element name="Contactinformatie" type="ContactinformatieType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ======================== RESPONSE TYPES ======================= -->
	<xs:complexType name="FiscaleInhoudingsplichtType">
		<xs:sequence>
			<xs:element name="Ondernemingsnummer" type="sleutel:OndernemingsnummerType" minOccurs="0"/>
			<xs:element name="Inhoudingsplicht" type="generiek:CodeOmschrijvingType" minOccurs="0"/>
			<xs:element name="Status" type="generiek:CodeOmschrijvingType"/>
			<xs:element name="Attest" type="generiek:TekstLangType" minOccurs="0"/>
			<xs:element name="DatumEindeGeldigheid" type="generiek:OnvolledigeDatumType" minOccurs="0"/>
			<xs:element name="Onderneming" type="OndernemingType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ======================== PUBLICATIE TYPES ======================= -->
</xs:schema>
