magdamock-spring/src/main/resources/magda.xsd/SocZek.GeefWerkzoekendeDienst-02.00/Service/GeefWerkzoekende.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://service.geefwerkzoekendedienst-02_00.soczek-02_00.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:soczek="http://soczek-02_00.vip.vlaanderen.be" targetNamespace="http://service.geefwerkzoekendedienst-02_00.soczek-02_00.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.00">
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xs:import namespace="http://soczek-02_00.vip.vlaanderen.be" schemaLocation="../../SocZek-02.00/SocZek.xsd"/>
	<xs:element name="GeefWerkzoekende">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Verzoek" type="VerzoekType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VerzoekType">
		<xs:sequence>
			<xs:element name="Context" type="generiek:ContextType"/>
			<xs:element name="Vragen" type="VragenType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VragenType">
		<xs:sequence>
			<xs:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VraagType">
		<xs:sequence>
			<xs:element name="Referte" type="generiek:ReferteType"/>
			<xs:element name="Inhoud" type="VraagInhoudType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VraagInhoudType">
		<xs:sequence>
			<xs:element name="Criteria" type="soczek:CriteriaGeefWerkzoekende2_0Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
