magdamock-spring/src/main/resources/magda.xsd/SociaalWonen-01.00/SociaalWonenComplex.xsd

<xsd:schema targetNamespace="http://sociaalwonen-01_00.woonnet.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.00.0000" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns="http://sociaalwonen-01_00.woonnet.be">
  <xsd:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../Generiek-02.00/Generiek.xsd"/>
  <xsd:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../Sleutel-02.00/Sleutel.xsd"/>

  <xsd:complexType name="SHMDossiersType">
    <xsd:sequence>
      <xsd:element name="SHMDossier" type="SHMDossierType" nillable="true" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SHMDossierType">
    <xsd:sequence>
      <xsd:element name="INSZ" type="generiek:INSZType"/>
      <xsd:element name="DossierId" type="generiek:TekstKort2_0Type"/>
      <xsd:element name="Maatschappij" type="MaatschappijType"/>
      <xsd:element name="StatusHuurder" type="StatusHuurderType"/>
      <xsd:element name="Vrijgesteld" type="VrijgesteldType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AfgelegdeTesten" type="AfgelegdeTestenType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MaatschappijType">
    <xsd:sequence>
      <xsd:element name="Naam" type="generiek:TekstExtraLang2_0Type"/>
      <xsd:element name="KBOnummer" type="sleutel:OndernemingsnummerType" minOccurs="0"/>
      <xsd:element name="InternNummer" type="generiek:TekstKort2_0Type"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StatusHuurderType">
    <xsd:sequence>
      <xsd:element name="Code" type="generiek:TekstKort2_0Type"/>
      <xsd:element name="Omschrijving" type="generiek:TekstKort2_0Type"/>
      <xsd:element name="DatumTijdModificatie" type="generiek:DatumTijdType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VrijgesteldType">
    <xsd:sequence>
      <xsd:element name="Waarde" type="generiek:VlagEnumType"/>
      <xsd:element name="DatumTijdModificatie" type="generiek:DatumTijdType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AfgelegdeTestenType">
    <xsd:sequence>
      <xsd:element name="AfgelegdeTest" type="AfgelegdeTestType" nillable="true" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AfgelegdeTestType">
    <xsd:sequence>
      <xsd:element name="Type" type="TestType"/>
      <xsd:element name="Instantie" type="MaatschappijType"/>
      <xsd:element name="DatumTijd" type="generiek:DatumTijdType"/>
      <xsd:element name="Geslaagd" type="generiek:VlagCodeType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TestType">
    <xsd:sequence>
      <xsd:element name="Code" type="generiek:TekstKort2_0Type"/>
      <xsd:element name="Omschrijving" type="generiek:TekstKort2_0Type"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>