magdamock-spring/src/main/resources/magda.xsd/Landbouw.GeefLandbouwerDienst-01.00/WebService/GeefLandbouwer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://magda.vlaanderen.be/landbouw/soap/geeflandbouwer/v01_00"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:landbouw="http://magda.vlaanderen.be/landbouw-v3" 
            xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" 
            targetNamespace="http://magda.vlaanderen.be/landbouw/soap/geeflandbouwer/v01_00"
           elementFormDefault="unqualified" 
           attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/Generiek-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/landbouw-v3" schemaLocation="../../Landbouw/LandbouwDomein-v3.xsd"/>
	<xsd:element name="GeefLandbouwer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Verzoek" type="VerzoekType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VerzoekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Vragen" type="VragenType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VragenType">
		<xsd:sequence>
			<xsd:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="VraagInhoudType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagInhoudType">
		<xsd:sequence>
			<xsd:element name="Criteria" type="landbouw:GeefLandbouwerCriteriaType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
