magdamock-spring/src/main/resources/magda.xsd/Landbouw.GeefLandbouwerDienst-01.00/WebService/GeefLandbouwerResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://magda.vlaanderen.be/landbouw/soap/geeflandbouwer/v01_00"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:landbouw="http://magda.vlaanderen.be/landbouw-v3" 
            xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" 
            targetNamespace="http://magda.vlaanderen.be/landbouw/soap/geeflandbouwer/v01_00"
            elementFormDefault="unqualified" 
            attributeFormDefault="unqualified">
        <xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/Generiek-v3.xsd"/>
        <xsd:import namespace="http://magda.vlaanderen.be/landbouw-v3" schemaLocation="../../Landbouw/LandbouwDomein-v3.xsd"/>
	<xsd:element name="GeefLandbouwerResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Repliek" type="RepliekType" minOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RepliekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Antwoorden" type="AntwoordenType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fouten die voorkomen na de verwerking van de Context maar voor de verwerking van Vraag of Antwoord bv: XSD Validatie fouten</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordenType">
		<xsd:sequence>
			<xsd:element name="Antwoord" type="AntwoordType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="AntwoordInhoudType" minOccurs="0"/>
			<xsd:element name="Uitzonderingen" type="generiek:UitzonderingLijstType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fouten die voorkomen na de verwerking van Vraag of Antwoord bv: warnings rond ontbrekende data en fouten gelinked aan 1 antwoord</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AntwoordInhoudType">
		<xsd:sequence>
			<xsd:element name="Landbouwers" type="landbouw:LandbouwerLijstType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
