magdamock-spring/src/main/resources/magda.xsd/DbToFileScheduler-02.00/Service/DbToFileScheduler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<xsd:schema xmlns="http://dbtofilescheduler.vip.vlaanderen.be" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dbtofilescheduler.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:element name="DbToFileScheduler">
		<xsd:complexType>
			<xsd:sequence>
			  <xsd:element name="Stromen" type="StromenType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="StromenType">
		<xsd:sequence>
			<xsd:element name="Stroom" type="StroomType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StroomType">
		<xsd:sequence>
			<xsd:element name="Naam" type="xsd:string"/>
			<xsd:element name="Identificatie" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Versie" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Publicatie" type="PublicatieType"/>
			<xsd:element name="Afnemers" type="AfnemersType"/>
			<xsd:element name="IsFoutBlokkerend" type="BooleanType"/>
			<xsd:element name="CronExpressie" type="xsd:string"/>
			<xsd:element name="MailAdressen" type="MailAdressenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MailAdressenType">
		<xsd:sequence>
			<xsd:element name="MailAdres" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PublicatieLijstType">
		<xsd:sequence>
			<xsd:element name="Publicatie" type="PublicatieType" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PublicatieType">
		<xsd:sequence>
			<xsd:element name="Naam" type="xsd:string" />
			<xsd:element name="Type" type="PublicatieTypeEnumType" />
			<xsd:element name="TabelRootNaam" type="xsd:string" />
			<xsd:element name="TabelQueryNaam" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


    <xsd:complexType name="AfnemersType">
        <xsd:sequence>
            <xsd:element type="AfnemerType" name="Afnemer" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AfnemerType">
        <xsd:sequence>
        	<xsd:element name="Uri" type="xsd:string" />
        	<xsd:element name="Hoedanigheid" type="xsd:string" />
        	<xsd:element name="EmailAdress" type="xsd:string" />
            <xsd:element name="Bestemmingsfolder" type="xsd:string"/>
            <xsd:element name="FileEncoding" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
 
 	<xsd:simpleType name="PublicatieTypeEnumType">
		<xsd:annotation>
			<xsd:documentation> MUTATIE | PUBLCIATIE </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MUTATIE"/>
			<xsd:enumeration value="PUBLICATIE"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TypeOrganisatieEnumType">
		<xsd:annotation>
			<xsd:documentation> S (op basis van sector/instelling) | E (ondernemingsnummer) </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="E"/>
		</xsd:restriction>
	</xsd:simpleType>

 	<xsd:simpleType name="OmgevingEnumType">
		<xsd:annotation>
			<xsd:documentation> t (test)| a (acceptatie) | p (productie)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SyntaxEnumType">
	    <xsd:restriction base="xsd:string">
	        <xsd:enumeration value="XML"/>
	        <xsd:enumeration value="INHOUSE"/>
	        <xsd:enumeration value="FLAT"/>
	        <xsd:enumeration value="A1"/>
	        <xsd:enumeration value="CSV"/>
	        <xsd:enumeration value="UNKNOWN"/>
	    </xsd:restriction>
    </xsd:simpleType>

 	<xsd:simpleType name="IntegriteitsMethodeEnumType">
		<xsd:annotation>
			<xsd:documentation> MD5| DSIG </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MD5"/>
			<xsd:enumeration value="DSIG"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="BooleanType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:pattern value="(0|1)"/>
		</xsd:restriction>
	</xsd:simpleType>

 	<xsd:simpleType name="AfnemerCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:length value="13"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FormulierActieEnumType">
	    <xsd:restriction base="xsd:string">
	        <xsd:enumeration value="VERWERKEN"/>
	        <xsd:enumeration value="NEGEREN"/>
	    </xsd:restriction>
    </xsd:simpleType>

    <!-- VKBP2 -->
	<xsd:complexType name="GegevensStroomFormaatTransformatorStroomAfnemersType">
		<xsd:annotation>
			<xsd:documentation>
				Gebruikt voor output, vb. elke afnemer kan een eigen encoding wensen.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GegevensStroomFormaatTransformatorStroomAfnemer" type="GegevensStroomFormaatTransformatorStroomAfnemerType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GegevensStroomFormaatTransformatorStroomAfnemerType">
		<xsd:sequence>
			<xsd:element name="Naam" type="xsd:string"/>
			<xsd:choice>
				<xsd:element name="PersoonAfnemerIdentificatie" type="PersoonAfnemerIdentificatieType" />
				<xsd:element name="OndernemingAfnemerIdentificatie" type="OndernemingAfnemerIdentificatieType" />
			</xsd:choice>
			<xsd:element name="FileEncoding" type="xsd:string"/>
			<xsd:element name="PrettyPrintedOutput" type="xsd:boolean"/>
			<xsd:element name="OutputMaxOccurs" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersoonAfnemerIdentificatieType">
		<xsd:sequence>
			<xsd:element name="Identificatie" type="xsd:string"/>
			<xsd:element name="Hoedanigheid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OndernemingAfnemerIdentificatieType">
		<xsd:sequence>
			<xsd:element name="Ondernemingsnummer" type="xsd:string"/>
			<xsd:element name="Vestigingsnummer" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<!-- LDM -->
	<xsd:simpleType name="SectorType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InstellingType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OndernemingsNummerType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-1][0-9]{0,9}"/>
		</xsd:restriction>
	</xsd:simpleType>


	<!-- Generiek -->
	<xsd:complexType name="ConfiguratieType">
		<xsd:sequence>
			<xsd:element name="SleutelwaardeExpressies" type="SleutelwaardeExpressieType"/>
			<xsd:element name="SchemaFileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Prefix" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SleutelwaardeExpressieType">
		<xsd:sequence>
			<xsd:element name="SleutelwaardeExpressie" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
