magdamock-spring/src/main/resources/magda.xsd/SocZek.GeefVolledigDossierHandicapDienst-03.00/WebService/GeefVolledigDossierHandicap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://magda.vlaanderen.be/soczek/soap/geefvolledigdossierhandicap/v03_00" xmlns:bericht="http://generiek-02_00.vip.vlaanderen.be" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://magda.vlaanderen.be/soczek/soap/geefvolledigdossierhandicap/v03_00">
  <xsd:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
  <xsd:element name="GeefVolledigDossierHandicap">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Verzoek" type="VerzoekType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VerzoekType">
    <xsd:sequence>
      <xsd:element name="Context" type="bericht:ContextType"/>
      <xsd:element name="Vragen" type="VragenType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VragenType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Vraag" type="VraagType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VraagType">
    <xsd:sequence>
      <xsd:element name="Referte" type="bericht:ReferteType"/>
      <xsd:element name="Inhoud" type="VraagInhoudType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VraagInhoudType">
    <xsd:sequence>
      <xsd:element name="Criteria" type="CriteriaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CriteriaType">
    <xsd:sequence>
      <xsd:element name="rrnr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
