magdamock-spring/src/main/resources/magda.xsd/Vlok-02.00/VlokSimple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://vlok-02_00.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vlok-02_00.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.00">
	<xs:simpleType name="DienstUriType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}-[0-1,9][0-9]-[0-3,9][0-9] [0-2][0-9]:[0-5][0-9](:[0-5][0-9](\.[0-9]{3})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DatumTijdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}-[0-1,9][0-9]-[0-3,9][0-9] [0-2][0-9]:[0-5][0-9](:[0-5][0-9](\.[0-9]{3})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataType">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="GuidType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The representation of a GUID, generally the id of an element.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
