magdamock-spring/src/main/resources/magda.xsd/Werk-01.02/WerkDataKern.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  VIPInterfaces-generiek
  %%
  Copyright (C) 2016 - 2018 Vlaamse Overheid
  %%
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  #L%
  -->

<xs:schema targetNamespace="http://werk-01_02.vip.vlaanderen.be"
		   xmlns="http://werk-01_02.vip.vlaanderen.be" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified" 
           version="1.02">

    <xs:simpleType name="DeelEntiteitType">
        <xs:annotation>
            <xs:documentation>Deelentiteit</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="KBFondsNummerType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="KBFondsDossierType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="KBFondsBureauType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DimonaNummerType">
        <xs:annotation>
            <xs:documentation>DIMONA nummer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ParitairComiteType">
        <xs:annotation>
            <xs:documentation>Paritaircomite</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AardWerknemerType">
        <xs:annotation>
            <xs:documentation>Aard werknemer</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DimonaActieType">
        <xs:annotation>
            <xs:documentation>Code laatste Dimona aangifte</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BenamingType">
        <xs:annotation>
            <xs:documentation>Benaming gebruiker</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="96"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PostCodeType">
        <xs:annotation>
            <xs:documentation>Bus</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="BusNummerType">
        <xs:annotation>
            <xs:documentation>Postcode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="OndernemingsNummerInputType">
        <xs:annotation>
            <xs:documentation>OndernemingsNummerType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OndernemingsNummerType">
        <xs:annotation>
            <xs:documentation>OndernemingsNummerType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RSZNummerInputType">
        <xs:annotation>
            <xs:documentation>RSZNummerType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,9}"/>            
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RSZNummerType">
        <xs:annotation>
            <xs:documentation>RSZNummerType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        	<xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PostCodeInternationaalType">
        <xs:annotation>
            <xs:documentation>PostCodeInternationaalType</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VolgendLijnNrType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VolgendTicketType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VolgendTotaalAantalLijnenType">
        <xs:annotation>
            <xs:documentation>Aantal beschikbare antwoorden</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DuurCodeType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
