magdamock-spring/src/main/resources/magda.xsd/Kadaster.GeefCadNetTransactiesDienst-01.00/WebService/GeefCadNetTransacties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://magda.vlaanderen.be/kadaster/soap/geefcadnettransacties/v01_00" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" 
	xmlns:kadaster="http://magda.vlaanderen.be/kadaster-v3" 
	targetNamespace="http://magda.vlaanderen.be/kadaster/soap/geefcadnettransacties/v01_00" 
	elementFormDefault="unqualified" 
	attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/kadaster-v3" schemaLocation="../../Kadaster/KadasterDomein-v3.xsd"/>
	<xsd:element name="GeefCadNetTransacties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Verzoek" type="VerzoekType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="VerzoekType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Vragen" type="VragenType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VragenType">
		<xsd:sequence>
			<xsd:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="VraagInhoudType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VraagInhoudType">
		<xsd:sequence>
			<xsd:element name="Identificator" type="kadaster:CriteriaIdentificatorType"/>
			<xsd:element name="JaarAkte" type="generiek:JaarType"/>
			<xsd:element name="Taal" type="generiek:TaalCodeType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
