magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Plan/Verordening-02.00/VerordeningComplex.xsd

<xsd:schema targetNamespace="urn:be:vlaanderen:omgeving:verordening:v2" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="01.00" xmlns:verordening="urn:be:vlaanderen:omgeving:verordening:v2" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
    <xsd:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
    <xsd:include schemaLocation="VerordeningEnum.xsd"/>
    <xsd:include schemaLocation="VerordeningSimple.xsd"/>

    <xsd:complexType name="VerordeningWrapper">
        <xsd:complexContent>
            <xsd:extension base="dossier:DossierInhoud">
                <xsd:sequence>
                    <xsd:element name="verordening" type="verordening:Verordening"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="Verordening">
        <xsd:sequence>
            <xsd:element name="situatie" type="verordening:Situatie" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Situatie">
        <xsd:complexContent>
            <xsd:extension base="dossier:Situatie">
                <xsd:sequence/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>