magdamock-spring/src/main/resources/magda.xsd/Milieu.RegistreerVoertuigemissiesDienst-01.00/WebService/RegistreerVoertuigemissies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by Bert Van Kets (Facilipunt - Agentschap Facilitair Bedrijf) -->
<xsd:schema xmlns="http://magda.vlaanderen.be/milieu/soap/registreervoertuigemissies/v01_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:milieu="http://magda.vlaanderen.be/milieu-v3" xmlns:generiek="http://magda.vlaanderen.be/generiek-v3" targetNamespace="http://magda.vlaanderen.be/milieu/soap/registreervoertuigemissies/v01_00" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://magda.vlaanderen.be/generiek-v3" schemaLocation="../../Generiek/GeneriekDomein-v3.xsd"/>
	<xsd:import namespace="http://magda.vlaanderen.be/milieu-v3" schemaLocation="../../Milieu/MilieuDomein-v3.xsd"/>
	<xsd:element name="RegistreerVoertuigemissies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Registratie" type="RegistratieType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RegistratieType">
		<xsd:sequence>
			<xsd:element name="Context" type="generiek:ContextType"/>
			<xsd:element name="Onderwerpen" type="OnderwerpenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpenType">
		<xsd:sequence>
			<xsd:element name="Onderwerp" type="OnderwerpType" minOccurs="1" maxOccurs="20000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpType">
		<xsd:sequence>
			<xsd:element name="Referte" type="generiek:ReferteType"/>
			<xsd:element name="Inhoud" type="OnderwerpInhoudType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OnderwerpInhoudType">
		<xsd:sequence>
			<xsd:element name="Measurement" type="milieu:MeasurementRegistratieType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
