magdamock-spring/src/main/resources/magda.xsd/SocZek.GeefPensioenDienst-02.00/Service/GeefPensioen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by Stefan Vleugels (AGENTSCHAP FACILITAIR BEDRIJF) -->
<xs:schema xmlns="http://service.geefpensioendienst-02_00.soczek-02_00.vip.vlaanderen.be" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generiek="http://generiek-02_00.vip.vlaanderen.be" xmlns:sleutel="http://sleutel-02_00.vip.vlaanderen.be" xmlns:soczek="http://soczek-02_00.vip.vlaanderen.be" targetNamespace="http://service.geefpensioendienst-02_00.soczek-02_00.vip.vlaanderen.be" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="2.00">
	<xs:import namespace="http://generiek-02_00.vip.vlaanderen.be" schemaLocation="../../Generiek-02.00/Generiek.xsd"/>
	<xs:import namespace="http://sleutel-02_00.vip.vlaanderen.be" schemaLocation="../../Sleutel-02.00/Sleutel.xsd"/>
	<xs:import namespace="http://soczek-02_00.vip.vlaanderen.be" schemaLocation="../../SocZek-02.00/SocZek.xsd"/>
	<xs:element name="GeefPensioen">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Verzoek" type="VerzoekType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VerzoekType">
		<xs:sequence>
			<xs:element name="Context" type="generiek:ContextType"/>
			<xs:element name="Vragen" type="VragenType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VragenType">
		<xs:sequence>
			<xs:element name="Vraag" type="VraagType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VraagType">
		<xs:sequence>
			<xs:element name="Referte" type="generiek:ReferteType"/>
			<xs:element name="Inhoud" type="VraagInhoudType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VraagInhoudType">
		<xs:sequence>
			<xs:element name="Criteria" type="soczek:CriteriaGeefPensioenType"/>
			<xs:element name="Taal" type="generiek:CodeTaalType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
