magdamock-spring/src/main/resources/magda.xsd/DBA-01.01/v2/omgeving/Datablok/DossierStuk-1.1/DST_WERKEN_GESTART_EN_TIJDELIJKHEID_001.xsd

<xs:schema targetNamespace="urn:be:vlaanderen:omgeving:datablok:dossierstuk:DST_WERKEN_GESTART_EN_TIJDELIJKHEID_001:001" elementFormDefault="unqualified" xmlns="urn:be:vlaanderen:omgeving:datablok:dossierstuk:DST_WERKEN_GESTART_EN_TIJDELIJKHEID_001:001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dossier="urn:be:vlaanderen:omgeving:dossier:v2">
<xs:import namespace="urn:be:vlaanderen:omgeving:dossier:v2" schemaLocation="../../Dossier-02.00/Dossier.xsd"/>
	<xs:complexType name="DossierStukDatablok">
		<xs:complexContent>
			<xs:extension base="dossier:DossierStukDatablok">
			<xs:sequence>
	<xs:element name="UitvoeringGestart">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsPV" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PVDatum" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:date">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="PVInstantie" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsRechterlijkeUitspraak" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="RechterlijkeUitspraakDatum" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:date">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="RechterlijkeUitspraakInstantie" minOccurs="0">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="IsAanvraagBepaaldeDuur" default="N">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:element>
	<xs:element name="DuurVergunning" minOccurs="0">
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base="type.DuurVergunning">
		<xs:attribute name="eenheid" fixed="maand">
	<xs:simpleType>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
		</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	</xs:element>
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="type.DuurVergunning">
		<xs:restriction base="xs:integer">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>